mapaNodeRed.json
[{"id":"a1b9716f.dbbcc","type":"http in","z":"42ab5ec1.ed179","name":"","url":"/monitor","method":"get","upload":false,"swaggerDoc":"","x":100.01734924316406,"y":175.0000400543213,"wires":[["7dbc450f.519ecc","15ecced6.23fdb1"]]},{"id":"7dbc450f.519ecc","type":"function","z":"42ab5ec1.ed179","name":"msg.apikey = \"<map api key>\";","func":"//Assign API Key\nmsg.payload.apikey = \"AIzaSyBN2FXBWTua_2NZOXrWEqzj4nAAbi9C08Q\";\nreturn msg;","outputs":1,"noerr":0,"x":399.01744079589844,"y":203.00009155273438,"wires":[["1f14f82a.d43238"]]},{"id":"76511b55.323134","type":"template","z":"42ab5ec1.ed179","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"body{\n  font-family: 'Droid Sans', 'Helvetica', Arial, sans-serif;\n  margin:5px;\n}\n#map{\n  display: block;\n  width: 95%;\n  height: 500px;\n  margin: 0 auto;\n  -moz-box-shadow: 0px 5px 20px #ccc;\n  -webkit-box-shadow: 0px 5px 20px #ccc;\n  box-shadow: 0px 5px 20px #ccc;\n}\n#map.large{\n  height:600px;\n}\n\n.overlay{\n  display:block;\n  text-align:center;\n  color:#fff;\n  font-size:60px;\n  line-height:80px;\n  opacity:0.8;\n  background:#4477aa;\n  border:solid 3px #336699;\n  border-radius:4px;\n  box-shadow:2px 2px 10px #333;\n  text-shadow:1px 1px 1px #666;\n  padding:0 4px;\n}\n\n.overlay_arrow{\n  left:50%;\n  margin-left:-16px;\n  width:0;\n  height:0;\n  position:absolute;\n}\n.overlay_arrow.above{\n  bottom:-15px;\n  border-left:16px solid transparent;\n  border-right:16px solid transparent;\n  border-top:16px solid #336699;\n}\n.overlay_arrow.below{\n  top:-15px;\n  border-left:16px solid transparent;\n  border-right:16px solid transparent;\n  border-bottom:16px solid #336699;\n}\n\n#toast-container > .toast {\n    background-image: none !important;\n}\n\n#toast-container > .toast:before {\n    position: fixed;\n    font-family: FontAwesome;\n    font-size: 24px;\n    line-height: 18px;\n    float: left;\n    color: #FFF;\n    padding-right: 0.5em;\n    margin: auto 0.5em auto -1.5em;\n}        \n#toast-container > .toast-warning:before {\n    content: \"\\f119\";\n}\n#toast-container > .toast-error:before {\n    content: \"\\f119\";\n}\n#toast-container > .toast-info:before {\n    content: \"\\f005\";\n}\n#toast-container > .toast-success:before {\n    content: \"\\f002\";\n}","x":645.01735496521,"y":193.00004386901855,"wires":[["5e0e3e21.676c7"]]},{"id":"1f14f82a.d43238","type":"template","z":"42ab5ec1.ed179","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"\n/////////////////////////////////\n// Global \n\nvar loc = window.location;\nvar ws;\nvar wsUri = \"ws:\";\nvar map;\nvar markers = [];\n var contentString = '<div id=\"content\">'+\n      '<div id=\"siteNotice\">'+\n      '</div>'+\n      '<h1 id=\"firstHeading\" class=\"firstHeading\">Uluru</h1>'+\n      '<div id=\"bodyContent\">'+\n      '<p><b>Casa</b>, also referred to as <b>Ayers Rock</b>, is a large ' +\n      'sandstone rock formation in the southern part of the '+\n      'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+\n      'south west of the nearest large town, Alice Springs; 450&#160;km '+\n      '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+\n      'features of the Uluru - Kata Tjuta National Park. Uluru is '+\n      'sacred to the Pitjantjatjara and Yankunytjatjara, the '+\n      'Aboriginal people of the area. It has many springs, waterholes, '+\n      'rock caves and ancient paintings. Uluru is listed as a World '+\n      'Heritage Site.</p>'+\n      '<p>Attribution: Uluru, <a href=\"https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194\">'+\n      'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+\n      '(last visited June 22, 2009).</p>'+\n      '</div>'+\n      '</div>';\n\nif (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n// This needs to point to the web socket in the Node-RED flow\n// ... in this case it's ws/simple\nwsUri += \"//\" + loc.host + loc.pathname.replace(\"monitor\",\"ws/alert\");\n\n//////////////////////////////////////////////\n//  google map\n\nfunction initMap() {\n    map = new google.maps.Map(document.getElementById('map'), {\n          zoom: 13,\n          center: {lat: -28.26278, lng: -52.40667}\n    });\n}\n\nfunction dropMarker (type, addr, la, lo) {\n    \n    clearMarker(addr);\n    var marker;\n    var infowindow;\n    if (type === 'alertaST') {\n        marker = new google.maps.Marker({\n        position: {lat: la, lng: lo},\n        title : addr,\n        map: map,\n        label : 'A',\n        animation: google.maps.Animation.DROP\n        });\n    } else {\n        marker = new google.maps.Marker({\n        position: {lat: la, lng: lo},\n        title : addr,\n        map: map,\n        label : 'G',\n        animation: google.maps.Animation.DROP\n        });    \n    }\n    \n    infowindow = new google.maps.InfoWindow({\n        content: contentString\n    });\n    \n    marker.addListener('click', function() {\n    infowindow.open(map, marker);\n    });\n    \n    markers.push(marker);\n}\n\n\n\n\nfunction clearMarkers() {\n    for ( var i = 0; i < markers.length; i++) {\n        markers[i].setMap(null);\n    }\n}\n\nfunction clearMarker(addr) {\n    for ( var i = 0; i < markers.length; i++) {\n        if ( markers[i].title == addr ) markers[i].setMap(null);\n    }\n}\n\n////////////////////////////////////////////////\n// Toastr\n\nfunction showToast(type, addr, la, lo) {  \n    toastr.options.positionClass = 'toast-bottom-full-width';    toastr.options.extendedTimeOut = 0; //1000;\n    toastr.options.timeOut = 10000;\n    toastr.options.fadeOut = 250;\n    toastr.options.fadeIn = 250;\n    var msg = ' Address : ' + addr;\n    msg = msg + ', Latitude : '+ la;\n    msg = msg + ', Longitude : '+ lo;\n        \n    if ( type === 'alertaST') {\n        toastr.warning('<b>Alerta oObre tensão</b> '+msg);\n    } else {\n        toastr.error('<b>Alerta</b> '+msg);\n    }\n}\n\n/////////////////////////////////////////////////\n//adição da info windows\n\n\n\n\n///////////////////////////////////////////////\n// WebSocket \n\nfunction wsConnect() {\n    \n    console.log(\"connect\",wsUri);\n    ws = new WebSocket(wsUri);\n\n    ws.onopen = function() {\n       console.log(\"connected\");\n    }\n    ws.onclose = function() {\n        setTimeout(wsConnect,5000);\n    }\n    \n    ws.onmessage = function(msg) {\n        var payload = JSON.parse(msg.data);\n        //console.log(payload);\n        showToast(payload.type, payload.addr, payload.la, payload.lo);\n        //insert Marker\n        dropMarker(payload.type, payload.addr, payload.la, payload.lo);\n    }\n}\n\nfunction action(m) {\n    // Nothing has been defined yet\n    if (ws) { ws.send(m); }\n}\n \n","x":546.0174045562744,"y":131.00004386901855,"wires":[["76511b55.323134"]]},{"id":"51785c71.299ef4","type":"http response","z":"42ab5ec1.ed179","name":"","statusCode":"","headers":{},"x":864.017412185669,"y":189.0000705718994,"wires":[]},{"id":"5e0e3e21.676c7","type":"template","z":"42ab5ec1.ed179","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!doctype html>\n<html>\n<head>\n    <!-- Required meta tags -->\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n\n    <!-- Bootstrap CSS -->\n    <!-- Latest compiled and minified CSS -->\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" integrity=\"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u\" crossorigin=\"anonymous\">\n    <link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.1.0/css/all.css\" integrity=\"sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt\" crossorigin=\"anonymous\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css\" crossorigin=\"anonymous\">\n    <style>{{{payload.style}}}</style>\n    \n    <!-- jQuery first, then Bootstrap JS -->\n    <script src=\"https://code.jquery.com/jquery-2.2.4.js\" integrity=\"sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=\"  crossorigin=\"anonymous\"></script> <!-- Latest compiled and minified JavaScript -->\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\" integrity=\"sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa\" crossorigin=\"anonymous\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js\" crossorigin=\"anonymous\"></script> \n    \n    <script>{{{payload.script}}}</script>\n</head>\n<body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n\n<div class=\"container\">\n    <div class=\"page-header\">\n    <h1>Alert Monitoring System <small> Water/Gas Leaks</small></h1>\n    </div>\n</div>\n<div class=\"container\">\n    <div class=\"row justify-content-center\">\n        <div class=\"col-12 col-lg-8 col-md-12\"> \n            <div id=\"map\"></div>\n        </div>\n    </div>\n    <br>\n    <br>\n</div>\n<script async defer\n    src=\"https://maps.googleapis.com/maps/api/js?key={{{payload.apikey}}}&callback=initMap\">\n</script>\n    \n</body>\n</html>","x":760.0174083709717,"y":135.00004386901855,"wires":[["51785c71.299ef4"]]},{"id":"eb306bc8.a0ebf8","type":"comment","z":"42ab5ec1.ed179","name":"injeta a apikey (API Key)","info":"","x":371.01739501953125,"y":166.00003910064697,"wires":[]},{"id":"a8c4223c.4b96c","type":"comment","z":"42ab5ec1.ed179","name":" get /monitor","info":"","x":96.01735496520996,"y":114.0000057220459,"wires":[]},{"id":"bf2487f9.e2bb28","type":"comment","z":"42ab5ec1.ed179","name":"Alert Message to Browser","info":"","x":659.0173568725586,"y":338.00000953674316,"wires":[]},{"id":"89bf3b3d.356b08","type":"comment","z":"42ab5ec1.ed179","name":"meu mapa ","info":"","x":332.01734924316406,"y":51.00000762939453,"wires":[]},{"id":"c6f0c26d.c7b2d","type":"inject","z":"42ab5ec1.ed179","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":185.18400192260742,"y":409.8888998031616,"wires":[["9ffdec41.6b448"]]},{"id":"9ffdec41.6b448","type":"function","z":"42ab5ec1.ed179","name":"Alert Generator","func":"var msg ={};\n\nvar count = Math.floor(Math.random() * Math.floor(4));\n\nswitch ( count ) {\ncase 0 : \n  msg.payload = {\n    addr : 'Casa do seu Zé',\n    la : -28.26278,\n    lo : -52.40667,\n    type : 'nada',\n    severity : 3\n  };\n  break;\ncase 1 :\n  msg.payload = {\n    addr : 'Casa do seu Arlindo',\n    la : -28.28278,\n    lo : -52.40667,\n    type : 'alertaST',\n    severity : 1\n  };\n  break;\ncase 2 :\n  msg.payload = {\n    addr : 'Casa do seu Joao',\n    la : -28.24278,\n    lo : -52.42667,\n    type : 'nada',\n    severity : 3\n  };\n  break;\ncase 3 :\n  msg.payload = {\n    addr : '9-165 Edgeworth Pl',\n    la : 40.483208,\n    lo : -74.454688,\n    type : 'nada',\n    severity : 3\n  };\n  break;\ndefault :\n  msg.payload = {\n    addr : '300 Somerset St',\n    la : 40.492735,\n    lo : -74.456407,\n    type : 'Nada',\n    severity : 2\n  };\n  break;\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":414.1840171813965,"y":410.3333435058594,"wires":[["90e8e423.075f88","24892d55.4d3bd2"]]},{"id":"1e596c8f.8a8293","type":"debug","z":"42ab5ec1.ed179","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":416.18402099609375,"y":525.7777900695801,"wires":[]},{"id":"90e8e423.075f88","type":"debug","z":"42ab5ec1.ed179","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":662.1840209960938,"y":447.7778148651123,"wires":[]},{"id":"24892d55.4d3bd2","type":"websocket out","z":"42ab5ec1.ed179","name":"","server":"5b62e4a9.fdcdbc","client":"","x":659.1840209960938,"y":377.6667308807373,"wires":[]},{"id":"78c32399.cc9e7c","type":"websocket in","z":"42ab5ec1.ed179","name":"","server":"5b62e4a9.fdcdbc","client":"","x":156.1840057373047,"y":526.1112308502197,"wires":[["1e596c8f.8a8293"]]},{"id":"f53b6b52.ed5bd8","type":"comment","z":"42ab5ec1.ed179","name":"Coomunicate with Browser","info":"","x":190.1840057373047,"y":485.333345413208,"wires":[]},{"id":"d93cdaa9.b06c68","type":"comment","z":"42ab5ec1.ed179","name":"Injeta um alerta qualqeur  a cada 5 segundos","info":"","x":248.1840057373047,"y":367.31945419311523,"wires":[]},{"id":"15ecced6.23fdb1","type":"http request","z":"42ab5ec1.ed179","name":"","method":"GET","ret":"obj","paytoqs":true,"url":"http://localhost:4567/initialMap","tls":"","proxy":"","authType":"","x":229.6805419921875,"y":260.1388816833496,"wires":[["70ff815b.c4aca"]]},{"id":"70ff815b.c4aca","type":"debug","z":"42ab5ec1.ed179","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":667.68408203125,"y":287.8576030731201,"wires":[]},{"id":"5b62e4a9.fdcdbc","type":"websocket-listener","z":"","path":"/ws/alert","wholemsg":"false"}]