node-red/flows.json
[{"id":"dc2d0fc7.ab66f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8bd3c3e1.0506f","type":"ui_button","z":"dc2d0fc7.ab66f","name":"","group":"1a8e3c86.5d3df3","order":2,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Hello World","payloadType":"str","topic":"","x":219.5,"y":287,"wires":[["4089bf09.3f3d1","843b1df6.3f052"]]},{"id":"843b1df6.3f052","type":"debug","z":"dc2d0fc7.ab66f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":397.5,"y":378,"wires":[]},{"id":"4089bf09.3f3d1","type":"ui_text","z":"dc2d0fc7.ab66f","group":"1a8e3c86.5d3df3","order":3,"width":0,"height":0,"name":"aaaa","label":"Bom dia","format":"{{msg.payload}}","layout":"row-spread","x":379.5,"y":293,"wires":[]},{"id":"e7fe5cf4.5a719","type":"ui_slider","z":"dc2d0fc7.ab66f","name":"","label":"Tensão","tooltip":"","group":"86e7ceb0.51a1","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"500","step":1,"x":197.5,"y":526,"wires":[["a1c0556.73804a8","5acc1e12.ed0b"]]},{"id":"a1c0556.73804a8","type":"ui_gauge","z":"dc2d0fc7.ab66f","name":"","group":"86e7ceb0.51a1","order":4,"width":0,"height":0,"gtype":"gage","title":"Tensometro","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"220","seg2":"240","x":406.5,"y":521,"wires":[]},{"id":"b9fdfd80.0360c","type":"ui_chart","z":"dc2d0fc7.ab66f","name":"","group":"86e7ceb0.51a1","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":396.5,"y":594,"wires":[[]]},{"id":"5acc1e12.ed0b","type":"ui_template","z":"dc2d0fc7.ab66f","group":"86e7ceb0.51a1","name":"","order":4,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":422.5,"y":658,"wires":[[]]},{"id":"9a5553de.5d56f","type":"http request","z":"dc2d0fc7.ab66f","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"/projeto","tls":"","proxy":"","authType":"","x":78.5,"y":680,"wires":[["17909926.ee1a47"]]},{"id":"17909926.ee1a47","type":"function","z":"dc2d0fc7.ab66f","name":"","func":"for(i=0;i<100;i++){\n    msg = i;\n}\nreturn msg;","outputs":1,"noerr":0,"x":249.5,"y":607,"wires":[["b9fdfd80.0360c"]]},{"id":"1a8e3c86.5d3df3","type":"ui_group","z":"","name":"text","tab":"3a2c94bf.5d8efc","disp":true,"width":"6","collapse":false},{"id":"86e7ceb0.51a1","type":"ui_group","z":"","name":"Analog","tab":"3a2c94bf.5d8efc","disp":true,"width":"6","collapse":false},{"id":"3a2c94bf.5d8efc","type":"ui_tab","z":"","name":"Demo","icon":"dashboard","disabled":false,"hidden":false}]