node-red/flows.json
[{"id":"bea16038.26431","type":"inject","z":"b387989c.cddb48","name":"injetorrr","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":93,"y":661,"wires":[["d6447da9.383b3"]]},{"id":"ecb8ae28.274ad","type":"ui_button","z":"b387989c.cddb48","name":"Buscar","group":"a11c34b1.c33828","order":2,"width":0,"height":0,"passthru":false,"label":"Buscar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":231.5,"y":1408,"wires":[["475bb7c4.0dc688"]]},{"id":"df0b0b1a.46cd58","type":"ui_chart","z":"b387989c.cddb48","name":"Corrente","group":"d0e7a4f8.e7ee88","order":2,"width":0,"height":0,"label":"Corrente","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Corrente","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1089.4999618530273,"y":667.9999523162842,"wires":[[]]},{"id":"924a4744.61ace8","type":"ui_chart","z":"b387989c.cddb48","name":"Consumo Total","group":"c4d82f02.08fda","order":2,"width":0,"height":0,"label":"Consumo Total","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Consumo Total","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1110,"y":717.9999389648438,"wires":[[]]},{"id":"3f5782e4.ee78ee","type":"ui_text","z":"b387989c.cddb48","group":"5d17024.d8126fc","order":4,"width":0,"height":0,"name":"Evento","label":"Evento","format":"{{msg.payload.evento}}","layout":"row-spread","x":1090.500015258789,"y":774.9999008178711,"wires":[]},{"id":"1b75b96d.b4ded7","type":"function","z":"b387989c.cddb48","name":"Lastevento","func":"msg.payload.evento = msg.payload.event_type\nmsg.payload.energy_ativa = msg.payload.energy_ativa + \" kWh\"\nmsg.payload.voltage_real = msg.payload.voltage_real_rms + \" V\"\nmsg.payload.phase_real = msg.payload.phase_real_rms + \" A\"\nreturn msg;","outputs":1,"noerr":0,"x":850.5000457763672,"y":820.9999141693115,"wires":[["3f5782e4.ee78ee","a216bb0c.c70e68","2bbfcf26.8d63e","536b77b6.312308","ad49ea08.1fb358"]]},{"id":"a216bb0c.c70e68","type":"ui_text","z":"b387989c.cddb48","group":"5d17024.d8126fc","order":4,"width":0,"height":0,"name":"Consumo","label":"Consumo","format":"{{msg.payload.energy_ativa}}","layout":"row-spread","x":1089.000015258789,"y":823.9999008178711,"wires":[]},{"id":"2bbfcf26.8d63e","type":"ui_text","z":"b387989c.cddb48","group":"5d17024.d8126fc","order":4,"width":0,"height":0,"name":"Tensão","label":"Tensão","format":"{{msg.payload.voltage_real}}","layout":"row-spread","x":1090.000015258789,"y":872.9999008178711,"wires":[]},{"id":"536b77b6.312308","type":"ui_text","z":"b387989c.cddb48","group":"5d17024.d8126fc","order":4,"width":0,"height":0,"name":"Consumo","label":"Corrente","format":"{{msg.payload.phase_real}}","layout":"row-spread","x":1095.000015258789,"y":916.9999008178711,"wires":[]},{"id":"bb5e0671.5cb3d8","type":"function","z":"b387989c.cddb48","name":"Tensao ","func":"msg.payload.voltage_real = msg.payload.voltage_real_rms\nreturn msg;","outputs":1,"noerr":0,"x":843.4999771118164,"y":565.9999389648438,"wires":[["9ae4464b.998888"]]},{"id":"9ae4464b.998888","type":"ui_gauge","z":"b387989c.cddb48","name":"","group":"62af2347.e98a9c","order":4,"width":0,"height":0,"gtype":"gage","title":"Tensão","label":"V","format":"{{msg.payload.voltage_real}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"220","seg2":"240","x":1084.9999618530273,"y":553.9999523162842,"wires":[]},{"id":"5da016f8.d6ec58","type":"function","z":"b387989c.cddb48","name":"Corrente","func":"msg.payload.phase_real_rms = msg.payload.phase_real_rms\nreturn msg;","outputs":1,"noerr":0,"x":837.9999542236328,"y":626.9999370574951,"wires":[["cf8ac011.ce5b6","df0b0b1a.46cd58"]]},{"id":"cf8ac011.ce5b6","type":"ui_gauge","z":"b387989c.cddb48","name":"","group":"62af2347.e98a9c","order":4,"width":0,"height":0,"gtype":"gage","title":"Corrente","label":"A","format":"{{msg.payload.phase_real_rms}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2","seg2":"5","x":1086.9999618530273,"y":604.9999523162842,"wires":[]},{"id":"3044123.5ab98ee","type":"function","z":"b387989c.cddb48","name":"Consumo Total","func":"msg.payload = msg.payload.energy_ativa\nreturn msg;","outputs":1,"noerr":0,"x":858,"y":716.9999389648438,"wires":[["924a4744.61ace8"]]},{"id":"1796dfb7.18daa","type":"http in","z":"b387989c.cddb48","name":"POST ultimo evento","url":"/attstatus","method":"post","upload":true,"swaggerDoc":"","x":394.2926025390625,"y":650.9998779296875,"wires":[[]]},{"id":"8c5fdf32.0e37f","type":"function","z":"b387989c.cddb48","name":"tratativador","func":"return msg;","outputs":1,"noerr":0,"x":600.2926635742188,"y":719.0482788085938,"wires":[["f089d645.f061c8","bb5e0671.5cb3d8","5da016f8.d6ec58","3044123.5ab98ee","1b75b96d.b4ded7"]]},{"id":"5e26158c.808b7c","type":"debug","z":"b387989c.cddb48","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":1241.5,"y":1288,"wires":[]},{"id":"f089d645.f061c8","type":"http response","z":"b387989c.cddb48","name":"Return 200","statusCode":"200","headers":{},"x":852.2812805175781,"y":924.6760005950928,"wires":[]},{"id":"ad49ea08.1fb358","type":"ui_text","z":"b387989c.cddb48","group":"5d17024.d8126fc","order":4,"width":0,"height":0,"name":"Consumo Total Diário","label":"Consumo Total Diário","format":"{{msg.payload.total_energy_daily}}","layout":"row-spread","x":1130.0142440795898,"y":962.0056533813477,"wires":[]},{"id":"2c9146e3.76178a","type":"ui_form","z":"b387989c.cddb48","name":"Dashboard Sign-In","label":"","group":"d9b5197d.bd3e58","order":0,"width":0,"height":0,"options":[{"label":"uuid","value":"username","type":"text","required":true},{"label":"password","value":"password","type":"password","required":true}],"formValue":{"username":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":275,"y":110.00000381469727,"wires":[["cd8bee98.d8794","9374c2e5.48bf8"]]},{"id":"cd8bee98.d8794","type":"function","z":"b387989c.cddb48","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"x":476.00000762939453,"y":88,"wires":[["c8e85071.e374c"]]},{"id":"9374c2e5.48bf8","type":"function","z":"b387989c.cddb48","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"admin\", password : \"admin\"},{ username : \"guest\", password : \"guest\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n\nif ( msg.payload == 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\nif(username === \"admin\"){\n    msg.uuid = \"407da65d-712a-4a8a-b3ca-6eb8e8881374\"\n}else{\n    msg.uuid = username;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"x":489.0000457763672,"y":133.00000953674316,"wires":[["5ad5ca08.fabc84"]]},{"id":"5ad5ca08.fabc84","type":"switch","z":"b387989c.cddb48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":658.0000419616699,"y":163.99999237060547,"wires":[["aaebccc6.ea56"],["9489a0a6.0baca"],["9489a0a6.0baca"],["23e1cc02.212514"]]},{"id":"aaebccc6.ea56","type":"function","z":"b387989c.cddb48","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\nflow.set(\"uuid\", msg.uuid);\n/* ui-control payload */\nmsg.payload = { group: {\n    show : [\"GraficoUltimoEvento_Gráficos\",\n            \"GraficoUltimoEvento_corrente\",\n            \"GraficoUltimoEvento_corrente2\",\n            \"GraficoUltimoEvento_Ultimo_Evento\",\n            \"GraficosDefault_GraficoDe\",\n            \"GraficosDefault_GraficoPara\",\n            \"GraficosDefault_Tipo_do_Grafico\",\n            \"GraficosDefault_Botao\"],\n    hide : [\"GraficoUltimoEvento_login\"]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":835.9998779296875,"y":130,"wires":[["eb188da.559927"]]},{"id":"c8e85071.e374c","type":"debug","z":"b387989c.cddb48","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":851.0001220703125,"y":45.0000114440918,"wires":[]},{"id":"eb188da.559927","type":"ui_ui_control","z":"b387989c.cddb48","name":"Go to UltiEvento Group","x":1105.0000686645508,"y":119.99999809265137,"wires":[[]]},{"id":"9489a0a6.0baca","type":"function","z":"b387989c.cddb48","name":"= 1 : Unknown User","func":"msg.payload = \"Credenciais não batem em nosso sistema!!\"\nreturn msg;","outputs":1,"noerr":0,"x":845,"y":168,"wires":[["b7cafe5c.2d6b3"]]},{"id":"b7cafe5c.2d6b3","type":"ui_toast","z":"b387989c.cddb48","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Authentication Failed","name":"Authentication Failure Dialog","x":1118.0000610351562,"y":160,"wires":[[]]},{"id":"23e1cc02.212514","type":"function","z":"b387989c.cddb48","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":844.4444580078125,"y":215.12152099609375,"wires":[["bdf34853.f26cd8"]]},{"id":"bdf34853.f26cd8","type":"ui_toast","z":"b387989c.cddb48","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"System In Use.","name":"System In-Use Dialog","x":1100.1112670898438,"y":198.12152099609375,"wires":[[]]},{"id":"8f5e8c23.09301","type":"comment","z":"b387989c.cddb48","name":"Login time","info":"","x":272.5,"y":37,"wires":[]},{"id":"51a53ac6.c02a44","type":"function","z":"b387989c.cddb48","name":"Detect Session Timer","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar SESSION_TIMEOUT = 15000; //15 secs\n\nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    msg.payload = 2;\n} else {\n    if ( currTime - sessionTimer > SESSION_TIMEOUT ) {\n      msg.payload = 0;  \n    } else {\n      msg.payload = 1;        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":468,"y":329,"wires":[["5fbffd03.288914"]]},{"id":"5fbffd03.288914","type":"switch","z":"b387989c.cddb48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":638.0000343322754,"y":327,"wires":[["d539cbb6.70dd08"],["31a670b3.fa769"],["1451ee0c.f95622"]]},{"id":"d539cbb6.70dd08","type":"function","z":"b387989c.cddb48","name":"Time-Out","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nflow.set(\"sessionTimer\", 0);\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = \"Session Expired! Please singin again!\";\nreturn msg;","outputs":1,"noerr":0,"x":793.9999465942383,"y":300.00000381469727,"wires":[["b2ec3e27.be757","746d15fe.625f5c"]]},{"id":"746d15fe.625f5c","type":"function","z":"b387989c.cddb48","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"GraficoUltimoEvento_Gráficos\",\n            \"GraficoUltimoEvento_corrente\",\n            \"GraficoUltimoEvento_corrente2\",\n            \"GraficoUltimoEvento_Ultimo_Evento\",\n            \"GraficosDefault_GraficoDe\",\n            \"GraficosDefault_GraficoPara\",\n            \"GraficosDefault_Tipo_do_Grafico\",\n            \"GraficosDefault_Botao\"],\n    show : [\"GraficoUltimoEvento_login\"]\n}\n};\n\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":991.9999847412109,"y":303,"wires":[["dadc7438.df9c98"]]},{"id":"b2ec3e27.be757","type":"ui_toast","z":"b387989c.cddb48","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Session Timeout","name":"Time-Out Dialog","x":981.5000762939453,"y":266.00000381469727,"wires":[[]]},{"id":"dadc7438.df9c98","type":"ui_ui_control","z":"b387989c.cddb48","name":"Go to Login ","x":1168.499994277954,"y":301.9999885559082,"wires":[[]]},{"id":"31a670b3.fa769","type":"function","z":"b387989c.cddb48","name":"Sensor/History Goup","func":"var msg = {};\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    show : [\"GraficoUltimoEvento_Gráficos\",\n            \"GraficoUltimoEvento_corrente\",\n            \"GraficoUltimoEvento_corrente2\",\n            \"GraficoUltimoEvento_Ultimo_Evento\"],\n    hide : [\"GraficoUltimoEvento_login\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":835.4999923706055,"y":340.99999618530273,"wires":[["23f14391.f2740c"]]},{"id":"23f14391.f2740c","type":"ui_ui_control","z":"b387989c.cddb48","name":"Stay in GraficoUltimoEvento","x":1158.5000610351562,"y":340.99999809265137,"wires":[[]]},{"id":"1451ee0c.f95622","type":"function","z":"b387989c.cddb48","name":"Signin Goup","func":"var msg = {};\nmsg.payload = { group: {\n    hide : [\"GraficoUltimoEvento_Gráficos\",\n            \"GraficoUltimoEvento_corrente\",\n            \"GraficoUltimoEvento_corrente2\",\n            \"GraficoUltimoEvento_Ultimo_Evento\",\n            \"GraficosDefault_GraficoDe\",\n            \"GraficosDefault_GraficoPara\",\n            \"GraficosDefault_Tipo_do_Grafico\",\n            \"GraficosDefault_Botao\"],\n    show : [\"GraficoUltimoEvento_login\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":815.5000610351562,"y":381.0000305175781,"wires":[["aa9bbf3a.cb772"]]},{"id":"aa9bbf3a.cb772","type":"ui_ui_control","z":"b387989c.cddb48","name":"Go to Login ","x":1106.5002098083496,"y":379.0000343322754,"wires":[[]]},{"id":"f5777a97.857258","type":"inject","z":"b387989c.cddb48","name":"Timer","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":279.9999694824219,"y":362.99998474121094,"wires":[["51a53ac6.c02a44","cf4aa121.7d4be"]]},{"id":"cf4aa121.7d4be","type":"function","z":"b387989c.cddb48","name":"Calculating Remaining Time (Debug)","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar remainingSecs = Math.floor((15000 - (currTime - sessionTimer))/1000) + 1;\n    \nif ( sessionTimer == 0 /* Inactive, No user signed in */ ) {\n    return null;\n} else {\n    \n    if ( remainingSecs <= 7 ) msg.payload = \"Remaining : \" + remainingSecs + \" secs\";  \n    else return null;\n}\n\nmsg.socketid = flow.get(\"clientid\") || \"B1234\";\nreturn msg;","outputs":1,"noerr":0,"x":517.9999923706055,"y":417.0000123977661,"wires":[["d1bd8bd7.2edd08"]]},{"id":"d1bd8bd7.2edd08","type":"ui_toast","z":"b387989c.cddb48","position":"bottom right","displayTime":"1","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Timer","name":"Display Remaining Time","x":801.7221641540527,"y":416.99998474121094,"wires":[]},{"id":"4cde7ca5.05d3b4","type":"http request","z":"b387989c.cddb48","name":"Authentication","method":"GET","ret":"txt","paytoqs":true,"url":"http://localhost:4567/auth","tls":"","proxy":"","authType":"","x":488.5,"y":31,"wires":[[]]},{"id":"a023d67a.e0bb78","type":"comment","z":"b387989c.cddb48","name":"grafico de mes dinamico( NAO USADO)","info":"","x":1061.5,"y":1625,"wires":[]},{"id":"92b972fc.f6a37","type":"ui_date_picker","z":"b387989c.cddb48","name":"Selecione  data FROM","label":"date From","group":"94d9433c.bd43c","order":0,"width":0,"height":0,"passthru":false,"topic":"start","x":271.5,"y":1468,"wires":[["c454c640.c81fd8"]]},{"id":"fa49a991.abdf48","type":"ui_date_picker","z":"b387989c.cddb48","name":"Selecione  data TOO","label":"date TO","group":"739d0191.9b2f2","order":0,"width":0,"height":0,"passthru":false,"topic":"end","x":273,"y":1511,"wires":[["b5e2fbab.28f548"]]},{"id":"182feae2.a5dba5","type":"function","z":"b387989c.cddb48","name":"","func":"msg.payload = { group: {\n    show : [\"GraficosDefault_GraficoPara\"]\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":1001.5,"y":1728,"wires":[["15b20ff0.92c94"]]},{"id":"15b20ff0.92c94","type":"ui_ui_control","z":"b387989c.cddb48","name":"libera o datapicker TOO","x":1177,"y":1728,"wires":[[]]},{"id":"90abeb3a.db6608","type":"inject","z":"b387989c.cddb48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":982.5,"y":1665,"wires":[["536b101.58f83f"]]},{"id":"536b101.58f83f","type":"function","z":"b387989c.cddb48","name":"","func":"var msg = {};\n\nflow.set(\"dateFrom\", '');\nflow.set(\"dateTo\", '');\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"GraficosDefault_GraficoPara\"]\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":1191,"y":1684,"wires":[["80dc642b.020d48"]]},{"id":"80dc642b.020d48","type":"ui_ui_control","z":"b387989c.cddb48","name":"Tranca o datapicker To","x":1389.5,"y":1661,"wires":[[]]},{"id":"1d9dc731.d103c9","type":"http request","z":"b387989c.cddb48","name":"Busca as infos","method":"GET","ret":"txt","paytoqs":true,"url":"http://127.0.0.1:4567/attdashboard","tls":"","proxy":"","authType":"","x":1246.5,"y":1235,"wires":[["40cbef8a.0832a","dae44a65.622b38"]]},{"id":"8710de35.1b563","type":"ui_toast","z":"b387989c.cddb48","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Authentication Failed","name":"Authentication Failure Dialog","x":1331.5,"y":1408,"wires":[[]]},{"id":"8f06b42b.88b9d8","type":"function","z":"b387989c.cddb48","name":"Data invalida","func":"\nmsg.payload = 'EERRRRROU'\nreturn msg;","outputs":1,"noerr":0,"x":1101.5,"y":1408,"wires":[["8710de35.1b563"]]},{"id":"59d1e6a4.353f38","type":"ui_ui_control","z":"b387989c.cddb48","name":"uiControl","x":251.5,"y":1628,"wires":[["862110a2.66319"]]},{"id":"862110a2.66319","type":"function","z":"b387989c.cddb48","name":"initFlowVariables","func":"\nnode.log('inicializando varivaveis');\n\nvar startInput = \"\";\nvar endInput = \"\";\nvar graphType = \"\";\nvar uuid = \"9c0772b8-c809-4865-bec7-70dd2013bc37\";\n//var uuid = \"407da65d-712a-4a8a-b3ca-6eb8e8881374\"\n\nflow.set(\"startInput\", startInput);\nflow.set(\"endInput\", endInput);\nflow.set(\"graphType\", graphType);\n//necessario pegar o uuid do cara logado. Por enquanto usa esse ai mesmo\nflow.set(\"uuid\", uuid);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":441.5,"y":1628,"wires":[["ace8ece6.84018"]]},{"id":"ace8ece6.84018","type":"debug","z":"b387989c.cddb48","name":"InitVar","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":652.5,"y":1618,"wires":[]},{"id":"5666aafa.082134","type":"function","z":"b387989c.cddb48","name":"setStartDate","func":"var startInput = flow.get('startInput') || \"\";\nflow.set('startInput', msg.payload);\n\nmsg.payload = flow.get('startInput');\n\nreturn msg;","outputs":1,"noerr":0,"x":701.5,"y":1468,"wires":[["2d674ca8.703df4"]]},{"id":"28cf0ba5.5992c4","type":"function","z":"b387989c.cddb48","name":"setEndDate","func":"var endInput = flow.get('endInput') || \"\";\nflow.set(\"endInput\", msg.payload);\n\nmsg.payload = flow.get('endInput');\nreturn msg;","outputs":1,"noerr":0,"x":701.5,"y":1508,"wires":[["2d674ca8.703df4"]]},{"id":"2d674ca8.703df4","type":"debug","z":"b387989c.cddb48","name":"Dates","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":881.5,"y":1488,"wires":[]},{"id":"8b96391c.f16348","type":"comment","z":"b387989c.cddb48","name":"inicia as variaveis de ambiente","info":"","x":321.5,"y":1588,"wires":[]},{"id":"475bb7c4.0dc688","type":"function","z":"b387989c.cddb48","name":"concatDates","func":"// CONCAT DATE AND TIME\nvar startDate = flow.get('startInput').substring(0, 10) || \"\";\nvar endDate = flow.get('endInput').substring(0, 10) ||\"\";\n\nvar newStartDateTime = startDate + \" \";\nvar newEndDateTime = endDate + \" \";\n\nflow.set('startInput', newStartDateTime + \"00:00:00\");\nflow.set('endInput', newEndDateTime + \"23:59:59\");\n\n//DEBUG\nmsg.payload = flow.get('startInput');\n\nreturn msg;","outputs":1,"noerr":0,"x":401.5,"y":1408,"wires":[["14fc19b1.4ee616"]]},{"id":"14fc19b1.4ee616","type":"function","z":"b387989c.cddb48","name":"validateDates","func":"// CHECK IF DATES ARE OK\nvar startInput = flow.get('startInput');\nvar endInput = flow.get('endInput');\nvar graphType = flow.get('graphType');\nvar startTimestampDate = new Date(startInput).getTime();\nvar endTimestampDate = new Date(endInput).getTime();\n\nif (startTimestampDate < endTimestampDate)\n    msg.payload = \"OK\";\nif (startTimestampDate >= endTimestampDate)\n    msg.payload = \"KO\";\nif(graphType ===\"\")\n    msg.payload = \"KO\";\nreturn msg;\n","outputs":1,"noerr":0,"x":591.5,"y":1408,"wires":[["be530ddc.2ac1e"]]},{"id":"be530ddc.2ac1e","type":"switch","z":"b387989c.cddb48","name":"validateVariables","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"eq","v":"KO","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":841.5,"y":1408,"wires":[["3a3cdf21.ecff8"],["8f06b42b.88b9d8"]],"outputLabels":["msg.payload","msg.payload"]},{"id":"3a3cdf21.ecff8","type":"function","z":"b387989c.cddb48","name":"getFlowVariables","func":"\nvar startInput = flow.get('startInput');\nvar endInput = flow.get('endInput');\nvar uuid = flow.get('uuid');\nvar graphType = flow.get('graphType');\n\nvar payload = {\"uuid\": uuid, \"start\": startInput,\"end\": endInput,\"graphType\":graphType};\nnode.log(typeof data);\n//msg.payload = JSON.stringify(data);\n//msg.payload.startInput = startInput;\n//msg.payload.endInput = endInput;\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":1001.5,"y":1288,"wires":[["5e26158c.808b7c","1d9dc731.d103c9"]]},{"id":"40cbef8a.0832a","type":"debug","z":"b387989c.cddb48","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":1469.5,"y":1273,"wires":[]},{"id":"a4d961bc.b7ff9","type":"comment","z":"b387989c.cddb48","name":"prepara o payload e envia. 1 deles funciona","info":"","x":961.5,"y":1248,"wires":[]},{"id":"c454c640.c81fd8","type":"moment","z":"b387989c.cddb48","name":"timestampToStartDate","topic":"","input":"payload","inputType":"msg","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"C","output":"payload","outputType":"msg","outTz":"Europe/London","x":491.5,"y":1468,"wires":[["5666aafa.082134"]]},{"id":"b5e2fbab.28f548","type":"moment","z":"b387989c.cddb48","name":"timestampToEndDate","topic":"","input":"payload","inputType":"msg","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"C","output":"payload","outputType":"msg","outTz":"Europe/London","x":491.5,"y":1508,"wires":[["28cf0ba5.5992c4"]]},{"id":"fa1c4b17.5a7fc8","type":"http in","z":"b387989c.cddb48","name":"","url":"/mapa","method":"get","upload":false,"swaggerDoc":"","x":198.4999542236328,"y":1977.9998779296875,"wires":[["dd23e325.ddc4d","c8b07e55.810ef","7a0d1f99.97a9b"]]},{"id":"dd23e325.ddc4d","type":"function","z":"b387989c.cddb48","name":"msg.apikey = \"<map api key>\";","func":"//Assign API Key\nmsg.payload.apikey = \"AIzaSyBN2FXBWTua_2NZOXrWEqzj4nAAbi9C08Q\";\nreturn msg;","outputs":1,"noerr":0,"x":564.5173530578613,"y":1990.9999127388,"wires":[["e9245666.064fa8"]]},{"id":"4fa0b822.4f2308","type":"template","z":"b387989c.cddb48","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"body{\n  font-family: 'Droid Sans', 'Helvetica', Arial, sans-serif;\n  margin:5px;\n}\n#map{\n  display: block;\n  width: 95%;\n  height: 500px;\n  margin: 0 auto;\n  -moz-box-shadow: 0px 5px 20px #ccc;\n  -webkit-box-shadow: 0px 5px 20px #ccc;\n  box-shadow: 0px 5px 20px #ccc;\n}\n#map.large{\n  height:600px;\n}\n\n.overlay{\n  display:block;\n  text-align:center;\n  color:#fff;\n  font-size:60px;\n  line-height:80px;\n  opacity:0.8;\n  background:#4477aa;\n  border:solid 3px #336699;\n  border-radius:4px;\n  box-shadow:2px 2px 10px #333;\n  text-shadow:1px 1px 1px #666;\n  padding:0 4px;\n}\n\n.overlay_arrow{\n  left:50%;\n  margin-left:-16px;\n  width:0;\n  height:0;\n  position:absolute;\n}\n.overlay_arrow.above{\n  bottom:-15px;\n  border-left:16px solid transparent;\n  border-right:16px solid transparent;\n  border-top:16px solid #336699;\n}\n.overlay_arrow.below{\n  top:-15px;\n  border-left:16px solid transparent;\n  border-right:16px solid transparent;\n  border-bottom:16px solid #336699;\n}\n\n#toast-container > .toast {\n    background-image: none !important;\n}\n\n#toast-container > .toast:before {\n    position: fixed;\n    font-family: FontAwesome;\n    font-size: 24px;\n    line-height: 18px;\n    float: left;\n    color: #FFF;\n    padding-right: 0.5em;\n    margin: auto 0.5em auto -1.5em;\n}        \n#toast-container > .toast-warning:before {\n    content: \"\\f119\";\n}\n#toast-container > .toast-error:before {\n    content: \"\\f119\";\n}\n#toast-container > .toast-info:before {\n    content: \"\\f005\";\n}\n#toast-container > .toast-success:before {\n    content: \"\\f002\";\n}","x":807.5172729492188,"y":1992.9998779296875,"wires":[["68bc1543.cccd4c"]]},{"id":"e9245666.064fa8","type":"template","z":"b387989c.cddb48","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"/////////////////////////////////\n// Global \n\nvar loc = window.location;\nvar ws;\nvar wsUri = \"ws:\";\nvar map;\nvar markers = [];\n var contentString = '<div id=\"content\">'+\n      '<div id=\"siteNotice\">'+\n      '</div>'+\n      '<h1 id=\"firstHeading\" class=\"firstHeading\">Uluru</h1>'+\n      '<div id=\"bodyContent\">'+\n      '<p><b>Uuid: </b> 15 </p>' +\n      '<p><b>Uuid: </b> 15 </p>' +\n      '<p><b>Uuid: </b> 15 </p>' +\n      '<p><b>Uuid: </b> 15 </p>' +\n      '<p><b>Uuid: </b> 15 </p>' +\n      '</div>'+\n      '</div>';\n\nif (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n// This needs to point to the web socket in the Node-RED flow\n// ... in this case it's ws/simple\nwsUri += \"//\" + loc.host + loc.pathname.replace(\"mapa\",\"ws/map\");\n\n//////////////////////////////////////////////\n//  google map\n\nfunction initMap() {\n    map = new google.maps.Map(document.getElementById('map'), {\n          zoom: 13,\n          center: {lat: -28.26278, lng: -52.40667}\n    });\n}\n\n/*\n msg.payload = {\n    addr : 'Casa do seu Arlindo',\n    uuid: 'uuid',\n    la : -28.28278,\n    lo : -52.40667,\n    type : 'alertaST',\n    severity : 1\n  };\n\n\n  {\n    \"uuid\": \"qweryy\",\n    \"event_type\": \"sdff\",\n    \"energy_ativa\": \"sd\",\n    \"voltage_real_rms\": \"sddd\",\n    \"phase_real_rms\": \"f\",\n    \"lat\": \"1234\",\n    \"lon\": \"12432\"\n}\n*/\n\nfunction dropCasa(type, addr, lat, lon, uuid, event_type, energy_ativa, voltage_real_rms, phase_real_rms, alert_info) {\n    console.log('asdsadada')\n    clearMarker(addr);\n    var marker;\n    var infowindow;\n    var contentStringData = '<div id=\"content\">' +\n        '<div id=\"siteNotice\">' +\n        '</div>' +\n        '<h1 id=\"firstHeading\" class=\"firstHeading\">Ultimo evento</h1>' +\n        '<div id=\"bodyContent\">' +\n        '<p><b>Uuid: </b>' + uuid + '</p>' +\n        '<p><b>Ultimo evento: </b> ' + event_type + ' </p>' +\n        '<p><b>Consumo total: </b> ' + energy_ativa + ' </p>' +\n        '<p><b>Corrente: </b> ' + phase_real_rms + ' </p>' +\n        '<p><b>Tensão: </b> ' + voltage_real_rms + ' </p>' +\n        '</div>' +\n        '</div>';\n    \n    var contentStringDataAlerta = '<div id=\"content\">' +\n        '<div id=\"siteNotice\">' +\n        '</div>' +\n        '<h1 id=\"firstHeading\" class=\"firstHeading\">Alerta de evento!</h1>' +\n        '<div id=\"bodyContent\">' +\n        '<p>O ultimo evento detectado foi um alerta de <b>'+ alert_info+' </b>.</p>' +\n        '<p><b>Uuid: </b>' + uuid + '</p>' +\n        '<p><b>Ultimo evento: </b> ' + event_type + ' </p>' +\n        '<p><b>Consumo total: </b> ' + energy_ativa + ' </p>' +\n        '<p><b>Corrente: </b> ' + phase_real_rms + ' </p>' +\n        '<p><b>Tensão: </b> ' + voltage_real_rms + ' </p>' +\n        '</div>' +\n        '</div>';\n        \n    if (type === 'alertaST') {\n        marker = new google.maps.Marker({\n        position: {lat: lat, lng: lon},\n        title : addr,\n        map: map,\n        label : 'A',\n        animation: google.maps.Animation.DROP\n        });\n        \n        infowindow = new google.maps.InfoWindow({\n        content: contentStringDataAlerta\n         });\n    } else {    \n        marker = new google.maps.Marker({\n        position: {lat: lat, lng: lon},\n        title : addr,\n        map: map,\n        label : 'C',\n        animation: google.maps.Animation.DROP\n        });   \n        \n        infowindow = new google.maps.InfoWindow({\n            content: contentStringData\n        });\n    }\n\n\n    \n    \n    marker.addListener('click', function() {\n    infowindow.open(map, marker);\n    });\n    \n    markers.push(marker);\n}\n\n\n//função pra atualizar as informações vindas do nodered\nfunction attFuncInfos(info1,info2,info3,info5,info6,info7){\n\n    document.getElementById('71').innerHTML=info1;\n    document.getElementById('72').innerHTML=info2;\n    document.getElementById('73').innerHTML=info3;\n    document.getElementById('75').innerHTML=info5;\n    document.getElementById('76').innerHTML=info6;\n    document.getElementById('77').innerHTML=info7;\n\n}\n\n\nfunction dropMarker (type, addr, la, lo) {\n    \n    clearMarker(addr);\n    var marker;\n    var infowindow;\n    if (type === 'alertaST') {\n        marker = new google.maps.Marker({\n        position: {lat: la, lng: lo},\n        title : addr,\n        map: map,\n        label : 'A',\n        animation: google.maps.Animation.DROP\n        });\n    } else {\n        marker = new google.maps.Marker({\n        position: {lat: la, lng: lo},\n        title : addr,\n        map: map,\n        label : 'G',\n        animation: google.maps.Animation.DROP\n        });    \n    }\n    \n    infowindow = new google.maps.InfoWindow({\n        content: contentString\n    });\n    \n    marker.addListener('click', function() {\n    infowindow.open(map, marker);\n    });\n    \n    markers.push(marker);\n}\n\n\n\n\nfunction clearMarkers() {\n    for ( var i = 0; i < markers.length; i++) {\n        markers[i].setMap(null);\n    }\n}\n\nfunction clearMarker(addr) {\n    for ( var i = 0; i < markers.length; i++) {\n        if ( markers[i].title == addr ) markers[i].setMap(null);\n    }\n}\n\n////////////////////////////////////////////////\n// Toastr\n\nfunction showToast(type, addr, la, lo, alert_type) {  \n    toastr.options.positionClass = 'toast-bottom-full-width';    toastr.options.extendedTimeOut = 0; //1000;\n    toastr.options.timeOut = 10000;\n    toastr.options.fadeOut = 250;\n    toastr.options.fadeIn = 250;\n    var msg = ' Endereço : ' + addr;\n    msg = msg + ', Latitude : '+ la;\n    msg = msg + ', Longitude : '+ lo;\n        \n    if ( type === 'alertaST') {\n        toastr.warning('<b>Alerta de '+ alert_type + ' </b> '+msg);\n    } else {\n        toastr.error('<b>Alerta</b> '+msg);\n    }\n}\n\n/////////////////////////////////////////////////\n//adição da info windows\n\n\n\n\n///////////////////////////////////////////////\n// WebSocket \n\nfunction wsConnect() {\n    \n    console.log(\"connect\",wsUri);\n    ws = new WebSocket(wsUri);\n\n    ws.onopen = function() {\n       console.log(\"connected\");\n    }\n    ws.onclose = function() {\n        setTimeout(wsConnect,5000);\n    }\n    \n    ws.onmessage = function(msg) {\n        var payloads = JSON.parse(msg.data);\n        console.log(payloads);\n        if(payloads instanceof Array){\n            console.log('é um array');\n            \n            payloads.forEach(payload => {\n                //insert Marker\n                //dropMarker(payload.type, payload.addr, payload.la, payload.lo);\n                var alert;\n                if(payload.alert_info != \"none\"){\n                    showToast(\"alertaST\", payload.uuid, payload.lat, payload.lon, payload.alert_info);\n                    dropCasa(\"alertaST\", payload.uuid, payload.lat,payload.lon, payload.uuid, payload.event_type, payload.energy_ativa, payload.voltage_real_rms, payload.phase_real_rms, payload.alert_info);\n                    \n                }else{\n                     dropCasa(\"alert_info\", payload.uuid, payload.lat,payload.lon, payload.uuid, payload.event_type, payload.energy_ativa, payload.voltage_real_rms, payload.phase_real_rms, payload.alert_info);\n                    \n                }\n            });\n        }else{\n            console.log('nao é um array');\n            attFuncInfos(payloads.s71,payloads.s72,payloads.s73,payloads.s75,payloads.s76,payloads.s77);\n        }\n        \n    }\n}\n\nfunction action(m) {\n    // Nothing has been defined yet\n    if (ws) { ws.send(m); }\n}\n","x":731.5173187255859,"y":1925.9998817443848,"wires":[["4fa0b822.4f2308"]]},{"id":"2002e30d.ecb97c","type":"http response","z":"b387989c.cddb48","name":"","statusCode":"","headers":{},"x":1070.517292022705,"y":1981.999912261963,"wires":[]},{"id":"68bc1543.cccd4c","type":"template","z":"b387989c.cddb48","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!doctype html>\n<html>\n<head>\n    <!-- Required meta tags -->\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n\n    <!-- Bootstrap CSS -->\n    <!-- Latest compiled and minified CSS -->\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" integrity=\"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u\" crossorigin=\"anonymous\">\n    <link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.1.0/css/all.css\" integrity=\"sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt\" crossorigin=\"anonymous\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css\" crossorigin=\"anonymous\">\n    <style>{{{payload.style}}}</style>\n    \n    <!-- jQuery first, then Bootstrap JS -->\n    <script src=\"https://code.jquery.com/jquery-2.2.4.js\" integrity=\"sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=\"  crossorigin=\"anonymous\"></script> <!-- Latest compiled and minified JavaScript -->\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\" integrity=\"sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa\" crossorigin=\"anonymous\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js\" crossorigin=\"anonymous\"></script> \n    \n    <script>{{{payload.script}}}</script>\n</head>\n<body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n\n<div class=\"container\">\n    <div class=\"page-header\">\n    <h1>Mapa de ultimo evento<small>:) </small></h1>\n    </div>\n</div>\n<div class=\"container\">\n    <div class=\"row justify-content-center\">\n        <div class=\"col-12 col-lg-8 col-md-12\"> \n            <div id=\"map\"></div>\n        </div>\n        <div class=\"col-4\">\n            <h1>ISO37120</h1>\n            \n            \n            \n            \n            <div id=\"funcs\" style=\"font-size:18px!important\">\n                <b>7.1:</b> <span id = \"71\">Carregando...</span><br>\n                <b>7.2:</b> <span id = \"72\">Carregando...</span><br>\n                <b>7.3:</b> <span id = \"73\">Carregando...</span><br>\n                <b>7.5:</b> <span id = \"75\">Carregando...</span><br>\n                <b>7.6:</b> <span id = \"76\">Carregando...</span><br>\n                <b>7.7:</b> <span id = \"77\">Carregando...</span><br>\n            </div>\n        </div>\n    </div>\n    <br>\n    <br>\n</div>\n<script async defer\n    src=\"https://maps.googleapis.com/maps/api/js?key={{{payload.apikey}}}&callback=initMap\">\n</script>\n    \n</body>\n</html>","x":922.5173263549805,"y":1934.9998779296875,"wires":[["2002e30d.ecb97c"]]},{"id":"363ec8fd.c9f718","type":"comment","z":"b387989c.cddb48","name":"injeta a apikey (API Key)","info":"","x":497.5172996520996,"y":2028.9998779296875,"wires":[]},{"id":"d33d091b.acbac8","type":"comment","z":"b387989c.cddb48","name":" get /monitor","info":"","x":227.51731872558594,"y":1939.9998779296875,"wires":[]},{"id":"3fc427b6.4f6598","type":"comment","z":"b387989c.cddb48","name":"Alert Message to Browser","info":"","x":950.517276763916,"y":2114.9998512268066,"wires":[]},{"id":"cb6d044f.5d4c18","type":"comment","z":"b387989c.cddb48","name":"meu mapa ","info":"","x":453.5172882080078,"y":1845.9998960494995,"wires":[]},{"id":"de019655.739df8","type":"inject","z":"b387989c.cddb48","name":"","topic":"","payload":"[{\"uuid\":\"123.123.123.123\",\"event_type\":\"EVENT_UP\",\"energy_ativa\":\"123\",\"voltage_real_rms\":\"220\",\"phase_real_rms\":\"1234\",\"lat\":-28.26278,\"lon\":-52.40667,\"alert_info\":\"none\"},{\"uuid\":\"4324.423423.32423.423.44\",\"event_type\":\"EVENT_DOWN\",\"energy_ativa\":\"123\",\"voltage_real_rms\":\"099999999999\",\"phase_real_rms\":\"123\",\"lat\":-28.27278,\"lon\":-52.40667,\"alert_info\":\"Sobretensão\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":336.68393325805664,"y":2299.8887786865234,"wires":[["ec563a4e.ffb208","e6c09fe7.714e5"]]},{"id":"e6c09fe7.714e5","type":"function","z":"b387989c.cddb48","name":"Alert Generator","func":"var msg ={};\n\nvar count = Math.floor(Math.random() * Math.floor(4));\n\nswitch ( count ) {\ncase 0 : \n  msg.payload = {\n    addr : 'Casa do seu Zé',\n    la : -28.26278,\n    lo : -52.40667,\n    type : 'nada',\n    severity : 3\n  };\n  break;\ncase 1 :\n  msg.payload = {\n    addr : 'Casa do seu Arlindo',\n    la : -28.28278,\n    lo : -52.40667,\n    type : 'alertaST',\n    severity : 1\n  };\n  break;\ncase 2 :\n  msg.payload = {\n    addr : 'Casa do seu Joao',\n    la : -28.24278,\n    lo : -52.42667,\n    type : 'nada',\n    severity : 3\n  };\n  break;\ncase 3 :\n  msg.payload = {\n    addr : '9-165 Edgeworth Pl',\n    la : 40.483208,\n    lo : -74.454688,\n    type : 'nada',\n    severity : 3\n  };\n  break;\ndefault :\n  msg.payload = {\n    addr : '300 Somerset St',\n    la : 40.492735,\n    lo : -74.456407,\n    type : 'Nada',\n    severity : 2\n  };\n  break;\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":689.6839141845703,"y":2262.3332233428955,"wires":[["3f7e1bad.5c0b54"]]},{"id":"ff3346f.544fcb8","type":"debug","z":"b387989c.cddb48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":719.6839256286621,"y":2393.777668952942,"wires":[]},{"id":"3f7e1bad.5c0b54","type":"debug","z":"b387989c.cddb48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":953.6839408874512,"y":2224.777656555176,"wires":[]},{"id":"a599b32a.836f9","type":"websocket out","z":"b387989c.cddb48","name":"","server":"724e6e04.0ac12","client":"","x":950.6839408874512,"y":2154.666572570801,"wires":[]},{"id":"cd8524ae.f7fdb8","type":"websocket in","z":"b387989c.cddb48","name":"","server":"724e6e04.0ac12","client":"","x":357.68394470214844,"y":2397.111108779907,"wires":[["ff3346f.544fcb8"]]},{"id":"2c25ac89.45f8b4","type":"comment","z":"b387989c.cddb48","name":"Coomunicate with Browser","info":"","x":358.68392181396484,"y":2354.3332319259644,"wires":[]},{"id":"ce317c5f.54d7c","type":"comment","z":"b387989c.cddb48","name":"Injeta um alerta qualqeur  a cada 5 segundos","info":"","x":401.6839141845703,"y":2250.3193731307983,"wires":[]},{"id":"c8b07e55.810ef","type":"http request","z":"b387989c.cddb48","name":"busca dados do mapa","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:4567/initialMap","tls":"","proxy":"","authType":"","x":378.1804504394531,"y":2074.138671875,"wires":[["32987602.5a7a7a"]]},{"id":"cbe6cb9b.03aef8","type":"debug","z":"b387989c.cddb48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":959.1840019226074,"y":2064.8574447631836,"wires":[]},{"id":"f9b82df5.e37b1","type":"function","z":"b387989c.cddb48","name":"house generator","func":"//var msg ={};\n\n/*\nmsg.payload = {\n    addr : 'Casa do seusssssssss Zé',\n    la : -28.26278,\n    lo : -52.40667,\n    type : 'nada',\n    severity : 3\n  };\n*/\nreturn msg;\n\n","outputs":1,"noerr":0,"x":712.5173797607422,"y":2066.1213326454163,"wires":[["cbe6cb9b.03aef8","a599b32a.836f9"]]},{"id":"32987602.5a7a7a","type":"delay","z":"b387989c.cddb48","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":554.1805114746094,"y":2073.569306373596,"wires":[["f9b82df5.e37b1"]]},{"id":"ec563a4e.ffb208","type":"function","z":"b387989c.cddb48","name":"real Alert Generator","func":"\nreturn msg;","outputs":1,"noerr":0,"x":723.5172729492188,"y":2322.7880859375,"wires":[["3f7e1bad.5c0b54","a599b32a.836f9"]]},{"id":"33f46ddb.40a922","type":"function","z":"b387989c.cddb48","name":"","func":"var m = {};\nm.labels = ['2006', '2007', '2008', '2009', '2010', '2011', '2012'];\nm.data = [[28, 48, 40, 19, 86, 27, 90]];\nm.series = ['Series A'];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":1552,"y":1335,"wires":[["7e06ad43.cb2364"]]},{"id":"7e06ad43.cb2364","type":"ui_chart","z":"b387989c.cddb48","name":"","group":"73332c3b.8e7004","order":0,"width":0,"height":0,"label":"Grafico sobre intervalo de tempo","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1773,"y":1334,"wires":[[]]},{"id":"be5537e7.914df8","type":"inject","z":"b387989c.cddb48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1397,"y":1339,"wires":[["33f46ddb.40a922"]]},{"id":"eb9af057.a67af","type":"http request","z":"b387989c.cddb48","name":"","method":"GET","ret":"txt","paytoqs":true,"url":"http://localhost:4567/lastevent","tls":"","proxy":"","authType":"","x":411,"y":716,"wires":[["8c5fdf32.0e37f","e959b379.43627"]]},{"id":"e959b379.43627","type":"debug","z":"b387989c.cddb48","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":550.5,"y":854,"wires":[]},{"id":"d6447da9.383b3","type":"function","z":"b387989c.cddb48","name":"getFlowVariables","func":"\n\nvar uuid = flow.get('uuid');\n\nvar payload = {\"uuid\": uuid};\nnode.log(typeof data);\n//msg.payload = JSON.stringify(data);\n//msg.payload.startInput = startInput;\n//msg.payload.endInput = endInput;\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":191.5,"y":750,"wires":[["eb9af057.a67af"]]},{"id":"dae44a65.622b38","type":"json","z":"b387989c.cddb48","name":"converte pra json","property":"payload","action":"","pretty":false,"x":1439.5,"y":1179,"wires":[["cddcdbfc.9d9728","9c4dcb20.e69378"]]},{"id":"cddcdbfc.9d9728","type":"debug","z":"b387989c.cddb48","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":1566,"y":1101,"wires":[]},{"id":"9c4dcb20.e69378","type":"function","z":"b387989c.cddb48","name":"","func":"\nreturn {payload:[msg.payload],topic:msg.topic};","outputs":1,"noerr":0,"x":1645,"y":1217,"wires":[["b3cd2eaa.f45c4","7e06ad43.cb2364"]]},{"id":"b3cd2eaa.f45c4","type":"debug","z":"b387989c.cddb48","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":1777,"y":1219,"wires":[]},{"id":"7a0d1f99.97a9b","type":"http request","z":"b387989c.cddb48","name":"busca ISO37120","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:4567/dashboard1","tls":"","proxy":"","authType":"","x":339,"y":2125,"wires":[["b6f7d4c.a4d1628","a599b32a.836f9"]]},{"id":"158b0c94.148573","type":"template","z":"b387989c.cddb48","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":0,"y":0,"wires":[[]]},{"id":"dddb53c3.184a2","type":"template","z":"b387989c.cddb48","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":0,"y":0,"wires":[[]]},{"id":"b6f7d4c.a4d1628","type":"debug","z":"b387989c.cddb48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":714,"y":2111,"wires":[]},{"id":"f3548908.ee2398","type":"inject","z":"b387989c.cddb48","name":"","topic":"","payload":"[{\"uuid\":\"123.123.123.123\",\"event_type\":\"EVENT_UP\",\"energy_ativa\":\"123\",\"voltage_real_rms\":\"220\",\"phase_real_rms\":\"1234\",\"lat\":-28.26278,\"lon\":-52.40667,\"alert_info\":\"none\"},{\"uuid\":\"4324.423423.32423.423.44\",\"event_type\":\"EVENT_DOWN\",\"energy_ativa\":\"123\",\"voltage_real_rms\":\"099999999999\",\"phase_real_rms\":\"123\",\"lat\":-28.27278,\"lon\":-52.40667,\"alert_info\":\"Sobretensão\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":189,"y":2157,"wires":[["7a0d1f99.97a9b"]]},{"id":"fb1ad899.c48028","type":"ui_dropdown","z":"b387989c.cddb48","name":"Selecione um  tipo de  dado","label":"Selecione uma opção","tooltip":"","place":"Select option","group":"39393a95.e275d6","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"Consumo","value":"consumo","type":"str"},{"label":"Tensão","value":"tensao","type":"str"},{"label":"Corrente","value":"corrente","type":"str"}],"payload":"","topic":"","x":248,"y":1551,"wires":[["8a5bfe39.d20c9"]]},{"id":"8a5bfe39.d20c9","type":"function","z":"b387989c.cddb48","name":"setGraphType","func":"var graphType = flow.get('graphType') || \"\";\nflow.set(\"graphType\", msg.payload);\n\nmsg.payload = flow.get('graphType');\nreturn msg;","outputs":1,"noerr":0,"x":717,"y":1550,"wires":[["2d674ca8.703df4"]]},{"id":"a11c34b1.c33828","type":"ui_group","z":"","name":"Botao","tab":"e340f31a.d705c","order":4,"disp":false,"width":"6","collapse":false},{"id":"d0e7a4f8.e7ee88","type":"ui_group","z":"","name":"corrente","tab":"4613b3ad.7a355c","order":3,"disp":false,"width":"6","collapse":false},{"id":"c4d82f02.08fda","type":"ui_group","z":"","name":"corrente2","tab":"4613b3ad.7a355c","order":4,"disp":false,"width":"6","collapse":false},{"id":"5d17024.d8126fc","type":"ui_group","z":"","name":"Ultimo Evento","tab":"4613b3ad.7a355c","order":5,"disp":true,"width":"6","collapse":false},{"id":"62af2347.e98a9c","type":"ui_group","z":"","name":"Gráficos","tab":"4613b3ad.7a355c","order":2,"disp":false,"width":"6","collapse":false},{"id":"d9b5197d.bd3e58","type":"ui_group","z":"","name":"login","tab":"4613b3ad.7a355c","disp":true,"width":"6","collapse":false},{"id":"94d9433c.bd43c","type":"ui_group","z":"","name":"GraficoDe","tab":"e340f31a.d705c","order":2,"disp":true,"width":"6","collapse":false},{"id":"739d0191.9b2f2","type":"ui_group","z":"","name":"GraficoPara","tab":"e340f31a.d705c","order":3,"disp":true,"width":"6","collapse":true},{"id":"724e6e04.0ac12","type":"websocket-listener","z":"","path":"/ws/map","wholemsg":"false"},{"id":"73332c3b.8e7004","type":"ui_group","z":"","name":"DefaultChart","tab":"e340f31a.d705c","order":5,"disp":true,"width":"18","collapse":false},{"id":"39393a95.e275d6","type":"ui_group","z":"","name":"Tipo do Grafico","tab":"e340f31a.d705c","order":1,"disp":true,"width":"6","collapse":false},{"id":"e340f31a.d705c","type":"ui_tab","z":"","name":"GraficosDefault","icon":"dashboard","disabled":false,"hidden":false},{"id":"4613b3ad.7a355c","type":"ui_tab","z":"","name":"GraficoUltimoEvento","icon":"dashboard","disabled":false,"hidden":false}]