node-red/flowmultiusuario.json
[{"id":"a46acd82.4bb8d","type":"mui_form","z":"996e41dd.3cef9","name":"","label":"","group":"9c642109.889e5","order":0,"width":0,"height":0,"options":[{"label":"uuid","value":"username","type":"text","required":true},{"label":"password","value":"password","type":"password","required":true}],"formValue":{"username":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":56,"y":140,"wires":[["ebf0ccc.437263","256da173.d6762e","9c2ea759.52f428","1b46b179.1be54f"]]},{"id":"ebf0ccc.437263","type":"function","z":"996e41dd.3cef9","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username, currentSocketId: flow.get(\"clientid\") || undefined})\n\nflow.set(\"accountlog\", accountlog);\n//msg.payload = accountlog;\nmsg.payload = flow.get(\"clientid\") || undefined;\nreturn msg;","outputs":1,"noerr":0,"x":262,"y":92,"wires":[["23094f44.6b43b"]]},{"id":"1b46b179.1be54f","type":"function","z":"996e41dd.3cef9","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"admin\", password : \"admin\"},{ username : \"guest\", password : \"guest\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n\nif ( msg.payload == 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\nif(username === \"admin\"){\n    msg.uuid = \"407da65d-712a-4a8a-b3ca-6eb8e8881374\"\n    flow.set('uuid',msg.uuid);\n    \n}else{\n    msg.uuid = username;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"x":274.0000457763672,"y":183.00001525878906,"wires":[[]]},{"id":"d6f33d86.3e225","type":"switch","z":"996e41dd.3cef9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":544.0000305175781,"y":188,"wires":[["543d1533.bdc12c"],["ecfda937.a693f8"],["ecfda937.a693f8"],["ecfda937.a693f8"]]},{"id":"543d1533.bdc12c","type":"function","z":"996e41dd.3cef9","name":"= 0 : Success","func":"/* activate session timer */\nvar loginList = {\n    key1: value1,\n    key2: value2\n};\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\nflow.set(\"uuid\", msg.uuid);\n/* ui-control payload */\nmsg.payload = { group: {\n    show : [\"grafico_usuario_tensao_corrente\",\n            \"grafico_usuario_grafico_corrente\",\n            \"grafico_usuario_grafico_consumo\",\n            \"grafico_usuario_infos\"],\n    hide : [\"grafico_usuario_login\"]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":719.9998779296875,"y":159,"wires":[["de3fa6f0.078018"]]},{"id":"23094f44.6b43b","type":"debug","z":"996e41dd.3cef9","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":659.0001220703125,"y":76.0000114440918,"wires":[]},{"id":"ecfda937.a693f8","type":"function","z":"996e41dd.3cef9","name":"= 1 : Unknown User","func":"msg.payload = \"Credenciais não batem em nosso sistema!!\"\nreturn msg;","outputs":1,"noerr":0,"x":729,"y":197,"wires":[["f65cb7f1.ee4ed8"]]},{"id":"2d6f79b.4215586","type":"function","z":"996e41dd.3cef9","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":728.4444580078125,"y":244.12152099609375,"wires":[["c13b1b21.dc9e58"]]},{"id":"285be78d.b94078","type":"http request","z":"996e41dd.3cef9","name":"Authentication","method":"GET","ret":"txt","paytoqs":true,"url":"http://localhost:4567/login","tls":"","proxy":"","authType":"","x":386.5,"y":123,"wires":[["10ed4021.01eb1","d6f33d86.3e225"]]},{"id":"de3fa6f0.078018","type":"mui_ui_control","z":"996e41dd.3cef9","name":"Go To grafico_usuario","x":978.5000076293945,"y":160,"wires":[[]]},{"id":"f65cb7f1.ee4ed8","type":"mui_toast","z":"996e41dd.3cef9","position":"dialog","displayTime":"3","multi":true,"highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Erro de autenticacao","name":"Erro de autenticação","x":977.5000076293945,"y":201,"wires":[[]]},{"id":"c13b1b21.dc9e58","type":"mui_toast","z":"996e41dd.3cef9","position":"dialog","displayTime":"3","multi":true,"highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Sistema em usi","name":"Sistema em uso","x":960.0000076293945,"y":244,"wires":[[]]},{"id":"1b817640.92b70a","type":"function","z":"996e41dd.3cef9","name":"Detect Session Timer","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar SESSION_TIMEOUT = 250000; //15 secs\n\nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    msg.payload = 2;\n} else {\n    if ( currTime - sessionTimer > SESSION_TIMEOUT ) {\n      msg.payload = 0;  \n    } else {\n      msg.payload = 1;        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":305.000057220459,"y":338.99999618530273,"wires":[["f54dec20.3ff7"]]},{"id":"e614b2cf.2c1a","type":"inject","z":"996e41dd.3cef9","name":"Timer","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":107,"y":399,"wires":[["1b817640.92b70a","8f615f88.516a7"]]},{"id":"8f615f88.516a7","type":"function","z":"996e41dd.3cef9","name":"Calculating Remaining Time (Debug)","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar remainingSecs = Math.floor((15000 - (currTime - sessionTimer))/1000) + 1;\n    \nif ( sessionTimer == 0 /* Inactive, No user signed in */ ) {\n    return null;\n} else {\n    \n    if ( remainingSecs <= 7 ) msg.payload = \"Remaining : \" + remainingSecs + \" secs\";  \n    else return null;\n}\n\nmsg.socketid = flow.get(\"clientid\") || \"B1234\";\nreturn msg;","outputs":1,"noerr":0,"x":346.000057220459,"y":456.99999618530273,"wires":[["98b8138a.0af2a"]]},{"id":"f54dec20.3ff7","type":"switch","z":"996e41dd.3cef9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":471.0000305175781,"y":340,"wires":[["585d8153.e3f88"],["240add2.9c35422"],["210f6537.77794a"]]},{"id":"585d8153.e3f88","type":"function","z":"996e41dd.3cef9","name":"Time-Out","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nflow.set(\"sessionTimer\", 0);\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = \"Session Expired! Please singin again!\";\nreturn msg;","outputs":1,"noerr":0,"x":629.9999389648438,"y":327,"wires":[["507a79fb.8409a8","7bc17228.6971bc"]]},{"id":"507a79fb.8409a8","type":"function","z":"996e41dd.3cef9","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"grafico_usuario_tensao_corrente\",\n            \"grafico_usuario_grafico_consumo\",\n            \"grafico_usuario_infos\",\n            \"grafico_usuario_grafico_corrente\"],\n    show : [\"grafico_usuario_login\"]\n}\n};\nmsg.motive = \"timeout\";\n\nflow.set(\"clientid\", undefined);\n\nreturn msg;","outputs":1,"noerr":0,"x":827.9999771118164,"y":329.99999618530273,"wires":[["ac7c2d5b.fbad5","82b47047.f7146"]]},{"id":"240add2.9c35422","type":"function","z":"996e41dd.3cef9","name":"Sensor/History Goup","func":"var msg = {};\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    show : [\"GraficoUltimoEvento_Gráficos\",\n            \"GraficoUltimoEvento_corrente\",\n            \"GraficoUltimoEvento_corrente2\",\n            \"GraficoUltimoEvento_Ultimo_Evento\"],\n    hide : [\"grafico_usuario_login\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":671.4999847412109,"y":367.99999237060547,"wires":[["b9dbeca4.e384"]]},{"id":"210f6537.77794a","type":"function","z":"996e41dd.3cef9","name":"Signin Goup","func":"var msg = {};\nmsg.payload = { group: {\n    hide : [\"GraficoUltimoEvento_Gráficos\",\n            \"GraficoUltimoEvento_corrente\",\n            \"GraficoUltimoEvento_corrente2\",\n            \"GraficoUltimoEvento_Ultimo_Evento\",\n            \"GraficosDefault_GraficoDe\",\n            \"GraficosDefault_GraficoPara\",\n            \"GraficosDefault_Tipo_do_Grafico\",\n            \"GraficosDefault_Botao\"],\n    show : [\"grafico_usuario_login\"]\n}\n};\nmsg.motive = \"sigin\";\nreturn msg;","outputs":1,"noerr":0,"x":651.5000534057617,"y":408.00002670288086,"wires":[["7665e38b.4b5f3c"]]},{"id":"98b8138a.0af2a","type":"ui_toast","z":"996e41dd.3cef9","position":"bottom right","displayTime":"1","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Timer","name":"Display Remaining Time","x":657.7221336364746,"y":459.99999618530273,"wires":[]},{"id":"7bc17228.6971bc","type":"mui_toast","z":"996e41dd.3cef9","position":"dialog","displayTime":"3","multi":true,"highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Session Timeout","name":"Time-Out Dialog","x":826.5,"y":295,"wires":[[]]},{"id":"ac7c2d5b.fbad5","type":"mui_ui_control","z":"996e41dd.3cef9","name":"Go to Login ","x":1047.5,"y":330,"wires":[[]]},{"id":"b9dbeca4.e384","type":"mui_ui_control","z":"996e41dd.3cef9","name":"Stay in grafico_usuario","x":1074,"y":370,"wires":[[]]},{"id":"7665e38b.4b5f3c","type":"mui_ui_control","z":"996e41dd.3cef9","name":"Go to Login ","x":1041,"y":407,"wires":[[]]},{"id":"256da173.d6762e","type":"debug","z":"996e41dd.3cef9","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":273,"y":228,"wires":[]},{"id":"9c2ea759.52f428","type":"function","z":"996e41dd.3cef9","name":"pep","func":"\nvar uuid = msg.payload.username ;\nvar password = msg.payload.password ; \nvar socketid = msg.socketid;\nvar payload = {\"uuid\": uuid, \"password\": password,\"socketid\": socketid};\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":241,"y":125,"wires":[["285be78d.b94078"]]},{"id":"10ed4021.01eb1","type":"debug","z":"996e41dd.3cef9","name":"devolucao do auth","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":658,"y":109,"wires":[]},{"id":"e6685150.5a0d3","type":"http request","z":"996e41dd.3cef9","name":"Authentication","method":"GET","ret":"txt","paytoqs":true,"url":"http://localhost:4567/login","tls":"","proxy":"","authType":"","x":713,"y":510,"wires":[[]]},{"id":"ff51e93e.843568","type":"http request","z":"996e41dd.3cef9","name":"Logout","method":"GET","ret":"txt","paytoqs":true,"url":"http://localhost:4567/logout","tls":"","proxy":"","authType":"","x":1060,"y":452,"wires":[["bba21971.bef288"]]},{"id":"bba21971.bef288","type":"debug","z":"996e41dd.3cef9","name":"Payload de Logout","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1222,"y":451,"wires":[]},{"id":"82b47047.f7146","type":"function","z":"996e41dd.3cef9","name":"Sign-In Redirection","func":"var socketid = msg.socketid;\nvar payload = {\"socketid\": socketid};\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":897,"y":453,"wires":[["ff51e93e.843568"]]},{"id":"c85cde6a.779d1","type":"inject","z":"996e41dd.3cef9","name":"injetorrr","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"","x":102.22222900390625,"y":723.3333740234375,"wires":[[]]},{"id":"f67f2de7.58f9f","type":"http in","z":"996e41dd.3cef9","name":"POST ultimo evento","url":"/attstatus","method":"post","upload":true,"swaggerDoc":"","x":379.2926025390625,"y":721.9998779296875,"wires":[[]]},{"id":"a4816135.a099c","type":"function","z":"996e41dd.3cef9","name":"tratativador","func":"return msg;","outputs":1,"noerr":0,"x":591.9592514038086,"y":778.9371109008789,"wires":[["9ea95158.ef1f1","4408f1fe.39751","64eb630f.bca07c","71f9f2a2.c2e67c","43165eac.c674c"]]},{"id":"818399a7.7a74a8","type":"http request","z":"996e41dd.3cef9","name":"","method":"GET","ret":"txt","paytoqs":true,"url":"http://localhost:4567/lasteventmui","tls":"","proxy":"","authType":"","x":396,"y":787,"wires":[["a4816135.a099c","1dc53522.873a0b"]]},{"id":"1dc53522.873a0b","type":"debug","z":"996e41dd.3cef9","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":535.5,"y":925,"wires":[]},{"id":"a77326b0.2dc378","type":"function","z":"996e41dd.3cef9","name":"getFlowVariables","func":"var obj = {\n    key1: value1,\n    key2: value2\n};\nvar socketid = msg.socketid;\nif(socketid === undefined){\n    var payload = {\"socketid\": socketid};\n    msg.payload = payload;\n}else{\n    msg.payload = \"1\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":186.5,"y":798,"wires":[["818399a7.7a74a8"]]},{"id":"4408f1fe.39751","type":"function","z":"996e41dd.3cef9","name":"Tensao ","func":"msg.payload.voltage_real = msg.payload.voltage_real_rms\nreturn msg;","outputs":1,"noerr":0,"x":828.4999771118164,"y":636.9999389648438,"wires":[["60cfb282.abd6fc"]]},{"id":"64eb630f.bca07c","type":"function","z":"996e41dd.3cef9","name":"Corrente","func":"msg.payload.phase_real_rms = msg.payload.phase_real_rms\nreturn msg;","outputs":1,"noerr":0,"x":822.9999542236328,"y":697.9999370574951,"wires":[["76dfb687.a70238","d48299bd.3838c8"]]},{"id":"71f9f2a2.c2e67c","type":"function","z":"996e41dd.3cef9","name":"Consumo Total","func":"msg.payload = msg.payload.energy_ativa\nreturn msg;","outputs":1,"noerr":0,"x":827,"y":783.9999389648438,"wires":[["f64a9804.655508"]]},{"id":"43165eac.c674c","type":"function","z":"996e41dd.3cef9","name":"Lastevento","func":"msg.payload.evento = msg.payload.event_type\nmsg.payload.energy_ativa = msg.payload.energy_ativa + \" kWh\"\nmsg.payload.voltage_real = msg.payload.voltage_real_rms + \" V\"\nmsg.payload.phase_real = msg.payload.phase_real_rms + \" A\"\nreturn msg;","outputs":1,"noerr":0,"x":835.5000457763672,"y":891.9999141693115,"wires":[["5687d34b.63409c","3a6a6275.d5d21e","75e62449.3bf97c","28905235.d14eee","c85083a5.2845d"]]},{"id":"9ea95158.ef1f1","type":"http response","z":"996e41dd.3cef9","name":"Return 200","statusCode":"200","headers":{},"x":837.2812805175781,"y":995.6760005950928,"wires":[]},{"id":"acd98e7a.87a33","type":"comment","z":"996e41dd.3cef9","name":"MultiuserLogin time","info":"","x":119,"y":82,"wires":[]},{"id":"60cfb282.abd6fc","type":"mui_gauge","z":"996e41dd.3cef9","name":"","group":"eddbb92f.bb9748","order":0,"width":0,"height":0,"gtype":"gage","title":"Tensão","label":"V","format":"{{msg.payload.voltage_real}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"220","seg2":"240","x":1016.5,"y":591,"wires":[]},{"id":"76dfb687.a70238","type":"mui_gauge","z":"996e41dd.3cef9","name":"","group":"eddbb92f.bb9748","order":0,"width":0,"height":0,"gtype":"gage","title":"Corrente","label":"A","format":"{{msg.payload.phase_real_rms}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1015.5,"y":633,"wires":[]},{"id":"d48299bd.3838c8","type":"mui_chart","z":"996e41dd.3cef9","name":"","group":"d4de85f5.a42408","order":0,"width":0,"height":0,"label":"Corrente","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1013.5,"y":678,"wires":[[],[]]},{"id":"f64a9804.655508","type":"mui_chart","z":"996e41dd.3cef9","name":"","group":"c9ade429.8ddae8","order":0,"width":0,"height":0,"label":"Consumo","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1016.5,"y":731,"wires":[[],[]]},{"id":"5687d34b.63409c","type":"mui_text","z":"996e41dd.3cef9","group":"d173fcc3.2c51d","order":0,"width":0,"height":0,"name":"","label":"Evento","format":"{{msg.payload.evento}}","layout":"row-spread","x":1025.5,"y":790,"wires":[]},{"id":"3a6a6275.d5d21e","type":"mui_text","z":"996e41dd.3cef9","group":"d173fcc3.2c51d","order":0,"width":0,"height":0,"name":"","label":"Consumo","format":"{{msg.payload.energy_ativa}}","layout":"row-spread","x":1027,"y":823,"wires":[]},{"id":"75e62449.3bf97c","type":"mui_text","z":"996e41dd.3cef9","group":"d173fcc3.2c51d","order":0,"width":0,"height":0,"name":"","label":"Tensão","format":"{{msg.payload.voltage_real}}","layout":"row-spread","x":1025,"y":857,"wires":[]},{"id":"28905235.d14eee","type":"mui_text","z":"996e41dd.3cef9","group":"d173fcc3.2c51d","order":0,"width":0,"height":0,"name":"","label":"Corrente","format":"{{msg.payload.phase_real}}","layout":"row-spread","x":1024,"y":891,"wires":[]},{"id":"c85083a5.2845d","type":"mui_text","z":"996e41dd.3cef9","group":"d173fcc3.2c51d","order":0,"width":0,"height":0,"name":"","label":"Consumo Total Diário","format":"{{msg.payload.total_energy_daily}}","layout":"row-spread","x":1064,"y":924,"wires":[]},{"id":"4b87d5ac.a6657c","type":"switch","z":"996e41dd.3cef9","name":"verifica se ta  logado","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":286.5,"y":893,"wires":[[]]},{"id":"9c642109.889e5","type":"mui_group","z":"","name":"login","tab":"faa0a6ef.3b1708","disp":true,"width":"6","collapse":false},{"id":"eddbb92f.bb9748","type":"mui_group","z":"","name":"tensao_corrente","tab":"faa0a6ef.3b1708","disp":true,"width":"6","collapse":false},{"id":"d4de85f5.a42408","type":"mui_group","z":"","name":"grafico_corrente","tab":"faa0a6ef.3b1708","disp":true,"width":"6","collapse":false},{"id":"c9ade429.8ddae8","type":"mui_group","z":"","name":"grafico_consumo","tab":"faa0a6ef.3b1708","disp":true,"width":"6","collapse":false},{"id":"d173fcc3.2c51d","type":"mui_group","z":"","name":"infos","tab":"faa0a6ef.3b1708","disp":true,"width":"6","collapse":false},{"id":"faa0a6ef.3b1708","type":"mui_tab","z":"","name":"grafico_usuario","icon":"dashboard"}]