node-red/flows.json
[{"id":"48870716.089838","type":"ui_button","z":"b387989c.cddb48","name":"Buscar","group":"90a40ab3.640bd8","order":2,"width":0,"height":0,"passthru":false,"label":"Buscar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":76,"y":1442,"wires":[["b028614c.3ac9f"]]},{"id":"c1b49093.f414d","type":"ui_chart","z":"b387989c.cddb48","name":"Corrente","group":"1a08f604.6204ca","order":2,"width":0,"height":0,"label":"Corrente","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Corrente","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":933.9999618530273,"y":701.9999523162842,"wires":[[]]},{"id":"737a21f5.206b9","type":"ui_chart","z":"b387989c.cddb48","name":"","group":"b89c4e64.a952b","order":2,"width":0,"height":0,"label":"Consumo Total","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Consumo Total","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":954.5,"y":751.9999389648438,"wires":[[]]},{"id":"4823d6d.9528a28","type":"ui_text","z":"b387989c.cddb48","group":"1d8a117f.2066df","order":4,"width":0,"height":0,"name":"Evento","label":"Evento","format":"{{msg.payload.evento}}","layout":"row-spread","x":935.0000152587891,"y":808.9999008178711,"wires":[]},{"id":"61701e2d.af027","type":"function","z":"b387989c.cddb48","name":"Lastevento","func":"msg.payload.evento = msg.payload.event_type\nmsg.payload.energy_ativa = msg.payload.energy_ativa + \" kWh\"\nmsg.payload.voltage_real = msg.payload.voltage_real_rms + \" V\"\nmsg.payload.phase_real = msg.payload.phase_real_rms + \" A\"\nreturn msg;","outputs":1,"noerr":0,"x":695.0000457763672,"y":854.9999141693115,"wires":[["4823d6d.9528a28","50f2566a.af9d38","1fde005d.98c39","f5834f75.68fa5","e6b5044c.5b1858"]]},{"id":"50f2566a.af9d38","type":"ui_text","z":"b387989c.cddb48","group":"1d8a117f.2066df","order":4,"width":0,"height":0,"name":"Consumo","label":"Consumo","format":"{{msg.payload.energy_ativa}}","layout":"row-spread","x":933.5000152587891,"y":857.9999008178711,"wires":[]},{"id":"1fde005d.98c39","type":"ui_text","z":"b387989c.cddb48","group":"1d8a117f.2066df","order":4,"width":0,"height":0,"name":"Tensão","label":"Tensão","format":"{{msg.payload.voltage_real}}","layout":"row-spread","x":934.5000152587891,"y":906.9999008178711,"wires":[]},{"id":"f5834f75.68fa5","type":"ui_text","z":"b387989c.cddb48","group":"1d8a117f.2066df","order":4,"width":0,"height":0,"name":"Consumo","label":"Corrente","format":"{{msg.payload.phase_real}}","layout":"row-spread","x":939.5000152587891,"y":950.9999008178711,"wires":[]},{"id":"4d2df34f.9464ec","type":"function","z":"b387989c.cddb48","name":"Tensao ","func":"msg.payload.voltage_real = msg.payload.voltage_real_rms\nreturn msg;","outputs":1,"noerr":0,"x":687.9999771118164,"y":599.9999389648438,"wires":[["907ef652.0fad58"]]},{"id":"907ef652.0fad58","type":"ui_gauge","z":"b387989c.cddb48","name":"","group":"42c1e5d0.6d0ecc","order":4,"width":0,"height":0,"gtype":"gage","title":"Tensão","label":"V","format":"{{msg.payload.voltage_real}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"220","seg2":"240","x":929.4999618530273,"y":587.9999523162842,"wires":[]},{"id":"812aceb9.721f8","type":"function","z":"b387989c.cddb48","name":"Corrente","func":"msg.payload.phase_real_rms = msg.payload.phase_real_rms\nreturn msg;","outputs":1,"noerr":0,"x":682.4999542236328,"y":660.9999370574951,"wires":[["29794271.316ade","c1b49093.f414d"]]},{"id":"29794271.316ade","type":"ui_gauge","z":"b387989c.cddb48","name":"","group":"42c1e5d0.6d0ecc","order":4,"width":0,"height":0,"gtype":"gage","title":"Corrente","label":"A","format":"{{msg.payload.phase_real_rms}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2","seg2":"5","x":931.4999618530273,"y":638.9999523162842,"wires":[]},{"id":"50b1d5b.ac8042c","type":"function","z":"b387989c.cddb48","name":"Consumo Total","func":"msg.payload = msg.payload.energy_ativa\nreturn msg;","outputs":1,"noerr":0,"x":702.5,"y":750.9999389648438,"wires":[["737a21f5.206b9"]]},{"id":"f04359b8.71ddf8","type":"http in","z":"b387989c.cddb48","name":"POST ultimo evento","url":"/attstatus","method":"post","upload":true,"swaggerDoc":"","x":136.7926025390625,"y":749.9999074935913,"wires":[["87547ea1.62107"]]},{"id":"87547ea1.62107","type":"function","z":"b387989c.cddb48","name":"tratativador","func":"return msg;","outputs":1,"noerr":0,"x":349.792667388916,"y":750.0482635498047,"wires":[["9a4e0a8f.e8d7b8","4d2df34f.9464ec","812aceb9.721f8","50b1d5b.ac8042c","61701e2d.af027"]]},{"id":"5adb8820.12b8b8","type":"debug","z":"b387989c.cddb48","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":1086,"y":1322,"wires":[]},{"id":"9a4e0a8f.e8d7b8","type":"http response","z":"b387989c.cddb48","name":"Return 200","statusCode":"200","headers":{},"x":696.7812805175781,"y":958.6760005950928,"wires":[]},{"id":"e6b5044c.5b1858","type":"ui_text","z":"b387989c.cddb48","group":"1d8a117f.2066df","order":4,"width":0,"height":0,"name":"Consumo Total Diário","label":"Consumo Total Diário","format":"{{msg.payload.total_energy_daily}}","layout":"row-spread","x":974.5142440795898,"y":996.0056533813477,"wires":[]},{"id":"ade1c5a2.880878","type":"ui_form","z":"b387989c.cddb48","name":"Dashboard Sign-In","label":"","group":"a5fb6ab.1e7b998","order":0,"width":0,"height":0,"options":[{"label":"username","value":"username","type":"text","required":true},{"label":"password","value":"password","type":"password","required":true}],"formValue":{"username":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":119.5,"y":144.00000381469727,"wires":[["3835492.abde9b6","48d6e9ce.1f88a8"]]},{"id":"3835492.abde9b6","type":"function","z":"b387989c.cddb48","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"x":320.50000762939453,"y":122,"wires":[["549cdf39.66aa6"]]},{"id":"48d6e9ce.1f88a8","type":"function","z":"b387989c.cddb48","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"admin\", password : \"admin\"},{ username : \"guest\", password : \"guest\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n\nif ( msg.payload == 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"x":333.5000457763672,"y":167.00000953674316,"wires":[["ba92a3e3.d3e36"]]},{"id":"ba92a3e3.d3e36","type":"switch","z":"b387989c.cddb48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":502.5000419616699,"y":197.99999237060547,"wires":[["7253bb00.bcbc84"],["78abd5c0.216d6c"],["78abd5c0.216d6c"],["1052e060.2ed43"]]},{"id":"7253bb00.bcbc84","type":"function","z":"b387989c.cddb48","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = { group: {\n    show : [\"GraficoUltimoEvento_Gráficos\",\n            \"GraficoUltimoEvento_corrente\",\n            \"GraficoUltimoEvento_corrente2\",\n            \"GraficoUltimoEvento_Ultimo_Evento\"],\n    hide : [\"GraficoUltimoEvento_login\"]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":680.4998779296875,"y":164,"wires":[["f3fa55aa.764b68"]]},{"id":"549cdf39.66aa6","type":"debug","z":"b387989c.cddb48","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":695.5001220703125,"y":79.0000114440918,"wires":[]},{"id":"f3fa55aa.764b68","type":"ui_ui_control","z":"b387989c.cddb48","name":"Go to UltiEvento Group","x":949.5000686645508,"y":153.99999809265137,"wires":[[]]},{"id":"78abd5c0.216d6c","type":"function","z":"b387989c.cddb48","name":"= 1 : Unknown User","func":"msg.payload = \"Credenciais não batem em nosso sistema!!\"\nreturn msg;","outputs":1,"noerr":0,"x":689.5,"y":202,"wires":[["4766b999.2791b8"]]},{"id":"4766b999.2791b8","type":"ui_toast","z":"b387989c.cddb48","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Authentication Failed","name":"Authentication Failure Dialog","x":962.5000610351562,"y":194,"wires":[[]]},{"id":"1052e060.2ed43","type":"function","z":"b387989c.cddb48","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":688.9444580078125,"y":249.12152099609375,"wires":[["8b8e57b9.e8bd68"]]},{"id":"8b8e57b9.e8bd68","type":"ui_toast","z":"b387989c.cddb48","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"System In Use.","name":"System In-Use Dialog","x":944.6112670898438,"y":232.12152099609375,"wires":[[]]},{"id":"984d0c07.8b9f4","type":"comment","z":"b387989c.cddb48","name":"Login time","info":"","x":117,"y":71,"wires":[]},{"id":"3403be50.4dd4a2","type":"function","z":"b387989c.cddb48","name":"Detect Session Timer","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar SESSION_TIMEOUT = 15000; //15 secs\n\nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    msg.payload = 2;\n} else {\n    if ( currTime - sessionTimer > SESSION_TIMEOUT ) {\n      msg.payload = 0;  \n    } else {\n      msg.payload = 1;        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":312.5,"y":363,"wires":[["2e0ed105.525bee"]]},{"id":"2e0ed105.525bee","type":"switch","z":"b387989c.cddb48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":482.5000343322754,"y":361,"wires":[["472630bb.0f7fc"],["7a6d67e4.8eaee8"],["3204b011.c7fb3"]]},{"id":"472630bb.0f7fc","type":"function","z":"b387989c.cddb48","name":"Time-Out","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nflow.set(\"sessionTimer\", 0);\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = \"Session Expired! Please singin again!\";\nreturn msg;","outputs":1,"noerr":0,"x":638.4999465942383,"y":334.00000381469727,"wires":[["2598fa7d.2c61c6","5c963a6c.214864"]]},{"id":"5c963a6c.214864","type":"function","z":"b387989c.cddb48","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"GraficoUltimoEvento_Gráficos\",\n            \"GraficoUltimoEvento_corrente\",\n            \"GraficoUltimoEvento_corrente2\",\n            \"GraficoUltimoEvento_Ultimo_Evento\"],\n    show : [\"GraficoUltimoEvento_login\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":836.4999847412109,"y":337,"wires":[["adf157aa.516508"]]},{"id":"2598fa7d.2c61c6","type":"ui_toast","z":"b387989c.cddb48","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Session Timeout","name":"Time-Out Dialog","x":826.0000762939453,"y":300.00000381469727,"wires":[[]]},{"id":"adf157aa.516508","type":"ui_ui_control","z":"b387989c.cddb48","name":"Go to Login ","x":1012.9999942779541,"y":335.9999885559082,"wires":[[]]},{"id":"7a6d67e4.8eaee8","type":"function","z":"b387989c.cddb48","name":"Sensor/History Goup","func":"var msg = {};\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    show : [\"GraficoUltimoEvento_Gráficos\",\n            \"GraficoUltimoEvento_corrente\",\n            \"GraficoUltimoEvento_corrente2\",\n            \"GraficoUltimoEvento_Ultimo_Evento\"],\n    hide : [\"GraficoUltimoEvento_login\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":679.9999923706055,"y":374.99999618530273,"wires":[["4015352f.d2c82c"]]},{"id":"4015352f.d2c82c","type":"ui_ui_control","z":"b387989c.cddb48","name":"Stay in GraficoUltimoEvento","x":1003.0000610351562,"y":374.99999809265137,"wires":[[]]},{"id":"3204b011.c7fb3","type":"function","z":"b387989c.cddb48","name":"Signin Goup","func":"var msg = {};\nmsg.payload = { group: {\n    hide : [\"GraficoUltimoEvento_Gráficos\",\n            \"GraficoUltimoEvento_corrente\",\n            \"GraficoUltimoEvento_corrente2\",\n            \"GraficoUltimoEvento_Ultimo_Evento\"],\n    show : [\"GraficoUltimoEvento_login\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":651.0000534057617,"y":416.0000343322754,"wires":[["ba8f3591.828418"]]},{"id":"ba8f3591.828418","type":"ui_ui_control","z":"b387989c.cddb48","name":"Go to Login ","x":951.0002098083496,"y":413.0000343322754,"wires":[[]]},{"id":"5a85aba4.c24ee4","type":"inject","z":"b387989c.cddb48","name":"Timer","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":124.49996948242188,"y":396.99998474121094,"wires":[["3403be50.4dd4a2","65ce310c.23f02"]]},{"id":"65ce310c.23f02","type":"function","z":"b387989c.cddb48","name":"Calculating Remaining Time (Debug)","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar remainingSecs = Math.floor((15000 - (currTime - sessionTimer))/1000) + 1;\n    \nif ( sessionTimer == 0 /* Inactive, No user signed in */ ) {\n    return null;\n} else {\n    \n    if ( remainingSecs <= 7 ) msg.payload = \"Remaining : \" + remainingSecs + \" secs\";  \n    else return null;\n}\n\nmsg.socketid = flow.get(\"clientid\") || \"B1234\";\nreturn msg;","outputs":1,"noerr":0,"x":362.49999237060547,"y":451.0000123977661,"wires":[["731e7299.38d09c"]]},{"id":"731e7299.38d09c","type":"ui_toast","z":"b387989c.cddb48","position":"bottom right","displayTime":"1","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Timer","name":"Display Remaining Time","x":646.2221641540527,"y":450.99998474121094,"wires":[]},{"id":"e7f517e2.62c8e8","type":"http request","z":"b387989c.cddb48","name":"Authentication","method":"GET","ret":"txt","paytoqs":true,"url":"http://localhost:4567/auth","tls":"","proxy":"","authType":"","x":333,"y":65,"wires":[[]]},{"id":"e7f9e8e6.3d95b8","type":"comment","z":"b387989c.cddb48","name":"grafico de mes dinamico( NAO USADO)","info":"","x":906,"y":1659,"wires":[]},{"id":"4d1940a.b604cc","type":"ui_date_picker","z":"b387989c.cddb48","name":"Selecione  data FROM","label":"date From","group":"90a40ab3.640bd8","order":0,"width":0,"height":0,"passthru":false,"topic":"start","x":116,"y":1502,"wires":[["f44feb94.dd2e98"]]},{"id":"3a284db2.c65942","type":"ui_date_picker","z":"b387989c.cddb48","name":"Selecione  data TOO","label":"date TO","group":"48ff4e01.7973","order":0,"width":0,"height":0,"passthru":false,"topic":"end","x":117.5,"y":1545,"wires":[["a26de1b0.b7cd4"]]},{"id":"4628d6f2.5bf798","type":"function","z":"b387989c.cddb48","name":"","func":"msg.payload = { group: {\n    show : [\"GraficosDefault_GraficoPara\"]\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":846,"y":1762,"wires":[["8d0e3be2.902f28"]]},{"id":"8d0e3be2.902f28","type":"ui_ui_control","z":"b387989c.cddb48","name":"libera o datapicker TOO","x":1021.5,"y":1762,"wires":[[]]},{"id":"17c869ba.c5f9c6","type":"inject","z":"b387989c.cddb48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":827,"y":1699,"wires":[["ed6b22ef.6d108"]]},{"id":"ed6b22ef.6d108","type":"function","z":"b387989c.cddb48","name":"","func":"var msg = {};\n\nflow.set(\"dateFrom\", '');\nflow.set(\"dateTo\", '');\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"GraficosDefault_GraficoPara\"]\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":1042.5,"y":1697,"wires":[["26b941b9.0e35be"]]},{"id":"26b941b9.0e35be","type":"ui_ui_control","z":"b387989c.cddb48","name":"Tranca o datapicker To","x":1234,"y":1695,"wires":[[]]},{"id":"58c98926.de5598","type":"http request","z":"b387989c.cddb48","name":"Busca as infos","method":"GET","ret":"txt","paytoqs":true,"url":"http://127.0.0.1:4567/attdashboard","tls":"","proxy":"","authType":"","x":1076,"y":1262,"wires":[["91ac90e.479157"]]},{"id":"37bcd294.608d6e","type":"ui_toast","z":"b387989c.cddb48","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Authentication Failed","name":"Authentication Failure Dialog","x":1176,"y":1442,"wires":[[]]},{"id":"40e89c5f.faf814","type":"function","z":"b387989c.cddb48","name":"Data invalida","func":"\nmsg.payload = 'EERRRRROU'\nreturn msg;","outputs":1,"noerr":0,"x":946,"y":1442,"wires":[["37bcd294.608d6e"]]},{"id":"629f6e2c.33974","type":"ui_ui_control","z":"b387989c.cddb48","name":"uiControl","x":96,"y":1662,"wires":[["143bf06d.83ea8"]]},{"id":"143bf06d.83ea8","type":"function","z":"b387989c.cddb48","name":"initFlowVariables","func":"\nnode.log('inicializando varivaveis');\n\nvar startInput = \"\";\nvar endInput = \"\";\nvar uuid = \"9c0772b8-c809-4865-bec7-70dd2013bc37\"\n\nflow.set(\"startInput\", startInput);\nflow.set(\"endInput\", endInput);\n//necessario pegar o uuid do cara logado. Por enquanto usa esse ai mesmo\nflow.set(\"uuid\", uuid);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":286,"y":1662,"wires":[["c123d76f.4dc118"]]},{"id":"c123d76f.4dc118","type":"debug","z":"b387989c.cddb48","name":"InitVar","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":486,"y":1662,"wires":[]},{"id":"211679e8.fb5226","type":"function","z":"b387989c.cddb48","name":"setStartDate","func":"var startInput = flow.get('startInput') || \"\";\nflow.set('startInput', msg.payload);\n\nmsg.payload = flow.get('startInput');\n\nreturn msg;","outputs":1,"noerr":0,"x":546,"y":1502,"wires":[["7c872395.dfe01c"]]},{"id":"973f32ee.7e99c","type":"function","z":"b387989c.cddb48","name":"setEndDate","func":"var endInput = flow.get('endInput') || \"\";\nflow.set(\"endInput\", msg.payload);\n\nmsg.payload = flow.get('endInput');\nreturn msg;","outputs":1,"noerr":0,"x":546,"y":1542,"wires":[["7c872395.dfe01c"]]},{"id":"7c872395.dfe01c","type":"debug","z":"b387989c.cddb48","name":"Dates","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":726,"y":1522,"wires":[]},{"id":"695a3106.5b514","type":"comment","z":"b387989c.cddb48","name":"inicia as variaveis de ambiente","info":"","x":166,"y":1622,"wires":[]},{"id":"b028614c.3ac9f","type":"function","z":"b387989c.cddb48","name":"concatDates","func":"// CONCAT DATE AND TIME\nvar startDate = flow.get('startInput').substring(0, 10) || \"\";\nvar endDate = flow.get('endInput').substring(0, 10) ||\"\";\n\nvar newStartDateTime = startDate + \" \";\nvar newEndDateTime = endDate + \" \";\n\nflow.set('startInput', newStartDateTime + \"00:00:00\");\nflow.set('endInput', newEndDateTime + \"23:59:59\");\n\n//DEBUG\nmsg.payload = flow.get('startInput');\n\nreturn msg;","outputs":1,"noerr":0,"x":246,"y":1442,"wires":[["8e0f2aaf.6c1db8"]]},{"id":"8e0f2aaf.6c1db8","type":"function","z":"b387989c.cddb48","name":"validateDates","func":"// CHECK IF DATES ARE OK\nvar startInput = flow.get('startInput');\nvar endInput = flow.get('endInput');\n\nvar startTimestampDate = new Date(startInput).getTime();\nvar endTimestampDate = new Date(endInput).getTime();\n\nif (startTimestampDate < endTimestampDate)\n    msg.payload = \"OK\";\nif (startTimestampDate >= endTimestampDate)\n    msg.payload = \"KO\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":436,"y":1442,"wires":[["8cbf8be.cae7478"]]},{"id":"8cbf8be.cae7478","type":"switch","z":"b387989c.cddb48","name":"validateVariables","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"eq","v":"KO","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":686,"y":1442,"wires":[["8779205c.375ee"],["40e89c5f.faf814"]],"outputLabels":["msg.payload","msg.payload"]},{"id":"8779205c.375ee","type":"function","z":"b387989c.cddb48","name":"getFlowVariables","func":"\nvar startInput = flow.get('startInput');\nvar endInput = flow.get('endInput');\nvar uuid = flow.get('uuid');\n\nvar payload = {\"uuid\": uuid, \"start\": startInput,\"end\": endInput};\nnode.log(typeof data);\n//msg.payload = JSON.stringify(data);\n//msg.payload.startInput = startInput;\n//msg.payload.endInput = endInput;\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":846,"y":1322,"wires":[["5adb8820.12b8b8","58c98926.de5598"]]},{"id":"91ac90e.479157","type":"debug","z":"b387989c.cddb48","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":1306,"y":1262,"wires":[]},{"id":"89b01410.1dc4b8","type":"comment","z":"b387989c.cddb48","name":"prepara o payload e envia. 1 deles funciona","info":"","x":806,"y":1282,"wires":[]},{"id":"f44feb94.dd2e98","type":"moment","z":"b387989c.cddb48","name":"timestampToStartDate","topic":"","input":"payload","inputType":"msg","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"C","output":"payload","outputType":"msg","outTz":"Europe/London","x":336,"y":1502,"wires":[["211679e8.fb5226"]]},{"id":"a26de1b0.b7cd4","type":"moment","z":"b387989c.cddb48","name":"timestampToEndDate","topic":"","input":"payload","inputType":"msg","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"C","output":"payload","outputType":"msg","outTz":"Europe/London","x":336,"y":1542,"wires":[["973f32ee.7e99c"]]},{"id":"90a40ab3.640bd8","type":"ui_group","z":"","name":"GraficoDe","tab":"2c6de81.c947f18","disp":true,"width":"6","collapse":false},{"id":"1a08f604.6204ca","type":"ui_group","z":"","name":"corrente","tab":"c0e93715.e01bd8","order":3,"disp":true,"width":"6","collapse":false},{"id":"b89c4e64.a952b","type":"ui_group","z":"","name":"corrente2","tab":"c0e93715.e01bd8","order":4,"disp":true,"width":"6","collapse":false},{"id":"1d8a117f.2066df","type":"ui_group","z":"","name":"Ultimo Evento","tab":"c0e93715.e01bd8","order":5,"disp":true,"width":"6","collapse":false},{"id":"42c1e5d0.6d0ecc","type":"ui_group","z":"","name":"Gráficos","tab":"c0e93715.e01bd8","order":2,"disp":true,"width":"6","collapse":false},{"id":"a5fb6ab.1e7b998","type":"ui_group","z":"","name":"login","tab":"c0e93715.e01bd8","disp":true,"width":"6","collapse":false},{"id":"48ff4e01.7973","type":"ui_group","z":"","name":"GraficoPara","tab":"2c6de81.c947f18","disp":true,"width":"6","collapse":false},{"id":"2c6de81.c947f18","type":"ui_tab","z":"","name":"GraficosDefault","icon":"dashboard","disabled":false,"hidden":false},{"id":"c0e93715.e01bd8","type":"ui_tab","z":"","name":"GraficoUltimoEvento","icon":"dashboard","disabled":false,"hidden":false}]